[2021-12-02 06:00] Iceber opened #3 "update the pediacluster status when the clustersynchro manager is shutdown"
When `clustersynchro manager` is shutdown for some reason, the status of the `pediaclusters` in the cluster need to be updated to indicate that the `cluster synchro` has been stopped

[2021-12-02 06:30] Iceber opened #4 "support for pruning `manageFields` and `last-applied-configuration` fields"
`Server-Side Apply` stores field management in the `manageFields`, which may not be useful during resource search.
This field needs to be pruned according to the user's needs.

The ` kubectl.kubernetes.io/last-applied-configuration` annotation also requires a feature gate to be provide  to prune.
[code]

[2021-12-02 06:41] Iceber opened #5 "support setting the last `resource version` in the reflector"
Support setting the resource version in the reflector before resource synchronizatiion.

In the weak network environment, the start and stop of `resource synchronization` may be more frequent,
so setting the last `resource version` can avoid the full list

[2021-12-02 06:55] Iceber opened #6 "support discovery of abnormal states during resource synchronization"
During resource synchronization, the `informer reflector` cannot report errors externally if a resource(custom resource) is deleted, or after not having the correct resource permissions.

We need to make the `reflector` able to tell the `resource synchro` more information

[2021-12-02 07:00] Iceber opened #7 "add warning information when searching for resources in a cluster that has stopped synchronizing"
When searching for resources in a cluster that has stopped synchronizing,
alert the user that the resources getted may be inaccurate

[2021-12-02 07:19] Iceber opened #8 "update the status of the `pediacluster` if the creation of cluster synchro fails"
The `cluster synchro` of `pediacluster` may fail to be. created due to many reasons, such as network problems, or authentication configuration....

Clusterpedia need to update the specific information to pediacluster's Conditions
eg.
[code]

[2021-12-03 14:59] kerthcet opened #9 "add CONTRIBUTING.md to help contributing to the project"
Thanks, `clusterpedia` is such a wonderful job, but I think it's something helpful  like [CONTRIBUTING.md](https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md) to encourage developers to contribute to this project. I can provide some help.

[2021-12-03 15:04] kerthcet commented on #9
/assign

[2021-12-06 11:02] yank1 opened #13 "日志最好有轮滚，避免出现把磁盘写满的情况"
参考

https://github.com/clusterpedia-io/clusterpedia/blob/7e301c8ce4cf81827850ab0f58f64b0457563f76/pkg/storage/internalstorage/register.go#L87

[2021-12-06 12:11] Iceber commented on #13
Although the `internalstorage` will only print logs of errors and Slow SQL by default, there is still a risk of oversizing the log file in some cases.
It will be added to the roadmap

[2021-12-07 05:20] Iceber opened #14 "support custom resource"
For the synchronization of custom resources is developed in two stages：

1. The default collection policy, where the user specifies the version to be synchronized,If no version is specified, then the top three versions of the priority order in the member cluster will be synchronized by default. https://github.com/clusterpedia-io/clusterpedia/pull/10
2. The `clustersynchro manager` reconciles the `

[2021-12-07 05:30] Iceber commented on #14
The default policy stores redundant data for multiple versions of custom resources.

In the next stage, the versions of custom resources in different clusters are reconciled in the `clustersynchro manager` by watching for the `CRD` resources.

If there is an intersection between the versions of custom resources between clusters and the conversion strategy is `None, then only one version needs to b

[2021-12-07 05:43] Iceber commented on #14
For the `ResourceColumnDefinition` of the custom resource used for the Table output, a new CRD will be provided to allow the user to customize the Table output of `any resource`.(Roadmap)

ResourceColumnDefinition for CRD:
[code]

[2021-12-08 13:08] Iceber commented on #5
We need to refactor the reflector to use watch and then list to prevent the list from getting the full amount of resources in case of errors

[2021-12-09 06:04] Iceber opened #20 "Field pruning is also supported in the `clusterpedia apiserver`"
The clustersynchro prunes fields based on feature gate when storing resources.
issue: [support for pruning manageFields and last-applied-configuration fields](https://github.com/clusterpedia-io/clusterpedia/issues/4)
pr: [prune managedFields and last-applied-configuration](https://github.com/clusterpedia-io/clusterpedia/pull/19)

Since the `managedFields` field is typically used very infrequently

[2021-12-09 06:28] Iceber commented on #20
Or prunning in the storage layer, where neither `clustersynchro` nor `apiserver` are responsible for the pruning process.

[2021-12-14 02:52] #4 closed

[2021-12-14 07:29] Iceber opened #25 "Frequent cluster status updates"
When updating the `cluster status`, `DeepEqual` will be called first to compare the `cluster status` to see if it is the same, and if it is, the update will be skipped.

https://github.com/clusterpedia-io/clusterpedia/blob/9fb3c253e4fa14ee82b97d6d0a4105a09ff2c6d0/pkg/synchromanager/clustersynchro_manager.go#L269-L278

However, there are now three places where the `cluster status` will always be un

[2021-12-14 09:13] #25 closed

[2021-12-20 02:37] scyds commented on #7
/assign

[2021-12-20 05:42] #20 closed

[2021-12-20 09:33] calvin0327 opened #31 "clustersynchro: the flag --feature-gates cannot be parsed"
In process of deplyment the clustersynchro manager, The following error message appears:

[code]

[2021-12-20 09:34] calvin0327 commented on #31
/assgin

[2021-12-20 09:40] #31 closed

[2021-12-24 08:36] #7 closed

[2022-01-04 03:17] Iceber opened #40 "Support for more complex field selector filtering"
The current filter selector supports filtering on fields and values (eg. `--filter-selector="spec.replicas=1"`), but in some cases we need to compare two fields within a resource.
eg. `--field-selector="spec.replicas == .status.readyReplicas"`

Currently, when comparing between two fields, it looks like it needs to support only `==` and `!=`.
There is also the question of how to better distinguish

[2022-01-04 03:45] #40 closed

[2022-01-06 09:04] calvin0327 opened #43 "clusterpedia required helm deployment"
* deploy api server
* deploy clustersynchro manager
* deploy a usable database, `mysql` or `postgresql`
* relevant `RBAC` and serviceAccout

[2022-01-06 11:43] calvin0327 opened #45 "provide a clusterpedia client to make it easier to use"
1. `Clusterpedia` uses `LabelSelector` to filter data, but you need to manually build the `Options` object
2. We need to use a more native way to call, like `client-Go`
3. You only need to provide a`kubeconfig` to get the clientset of client-go

Here's a [project](https://github.com/calvin0327/clusterpedia-client) to solve the above problem.

Welcome to discuss it here👏

[2022-01-07 09:49] Iceber opened #47 "Sync apis to a separate repo"
Users are likely to use apis, such as `search labels`, and [clusterpedia-io/client-go](https://github.com/clusterpedia-io/client-go) will also need to use `search labels`.

The import of [kubernetes](https://github.com/k3s-io/kubernetes) into clusterpedia causes complex package dependencies that make it difficult for users to directly import [clusterpedias/pkg/apis](https://github.com/clusterpedia

[2022-01-11 08:28] scydas opened #48 "support list field filtering"
support list field filtering

[code]

PostgreSQL
[code]
MySQL
[code]

[2022-01-12 02:46] Iceber commented on #48
@scydas Thanks for your work.
The sql statements in postgres can seriously break sql generation, we can see if others have a need for this feature.

[2022-01-13 05:55] Iceber opened #49 "Support for searching resources by owner"
It is difficult to search for resources by their owner relationships in `kubernetes`.
**`clusterpedia` will first introduce this experimental feature in `internalstorage`**.

There are two types of owner functions.
- [x] Query based on the owner's UID
- [ ] Query by owner's name, and support for setting the owner's GVR

In addition, owner filtering supports the ability to raise the seniority to me

[2022-01-13 06:04] panpan0000 commented on #49
it will be useful to query pods belonging to a rs/deployment  :+1

[2022-01-13 06:05] wawa0210 commented on #49
This scene is very useful, In the real scene, we can directly find its associated pods through deployment

[2022-01-14 10:44] #9 closed

[2022-01-24 03:00] cleverhu opened #54 "BUG:Couldn't parse request"
When using fieldselector, the log will report an error： "Couldn't parse request" err="invalid selector: 'involvedObject.uid in xxx"
The detail is below:
![image](https://user-images.githubusercontent.com/51436614/150715014-2c513507-7e16-4e44-9053-3e4fff7152fc.png)

[2022-01-24 03:47] Iceber commented on #54
Error logs are printed due to [`RequestInfo`](https://github.com/kubernetes/kubernetes/blob/dc96c3dfccbc2005e4c4367fc8da199413e2bdcb/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L210-L218
), but do not affect the specific logic.

Fix this incorrect error log by modifying the RequestInfo resolver function.

[2022-01-26 02:53] Iceber commented on #49
Now supports querying by `owner-uid` https://github.com/clusterpedia-io/clusterpedia/pull/50，
 `owner-key` still needs to be discussed

[2022-01-27 09:55] Iceber opened #63 "If the resource field value is a numeric value, then the FieldSelector does not work"
Storage Component: `mysql`

[code]
The sql generated by the sql builder is
[code]
In this case, only if the field value is the string `'1'`/`"1"` will be searched for.
For example, this will work:
[code]
resources:
[code]

[2022-01-27 09:56] Iceber commented on #63
`postgres` is not affected.

[2022-01-27 10:10] #63 closed

[2022-01-28 13:48] Iceber commented on #47
Migrate [client-go](https://github.com/clusterpedia-io/client-go) to [clusterpedia](https://github.com/clusterpedia-io/clusterpedia) repository and sync *staging/src/github.com/clusterpedia-io/client-go* to https://github.com/clusterpedia-io/client-go

[2022-02-11 06:35] Iceber opened #72 "Move group "pedia.clusterpedia.io" to "clusterpedia.io""
Currently, then resources(`resources`,`collectionresources`) under `pedia.clusterpedia.io` are used for searching multi-cluster resources,
but the prefix `pedia` does not make any sense and `pedia.clusterpedia.io` provides the main functionality of clusterpedia,
so it is commended to change `pedia.clusterpedia.io` to `clusterpedia.io`.

In this case, the search url will be modified:
[code]
to
[cod

[2022-02-11 09:22] #72 closed

[2022-02-15 09:27] Iceber opened #81 "Use feature gates to control whether the count of remaining items is allowed to be returned"
Currently, if  need to return the `RemainingItemCount`, we need to set `withRemaingCount` in the `Search Label` or `url query` https://github.com/clusterpedia-io/clusterpedia/pull/33

It is now possible to allow all requests to return the `RemainingItemCount` by reusing [the feature gate of the kube apiserver -- `RemainingItemCount`](https://github.com/kubernetes/kubernetes/blob/d899c39ca302536203

[2022-02-17 13:23] calvin0327 commented on #81
I think it's better if the both of those way is be supported.  the `RemainingItemCount` is not required very much. what do you think?

[2022-02-18 05:20] Iceber commented on #81
@calvin0327 Yes. Use feature gate to control the default behaviour and also support active setting in the `url query` or `search label`

[2022-02-22 02:36] yankay opened #85 "When we install clusterpedia, it restarts for more than 5 times"
### What happened?

![企业微信截图_16454971838462](https://user-images.githubusercontent.com/1469319/155052457-83b23d82-e405-4cf9-9b2c-518174c5f667.png)

When we install clusterpedia, it restarts for more than 5 times

### What did you expect to happen?

The Clusterpedia not restart, it wait for mysql ready.

### How can we reproduce it (as minimally and precisely as possible)?

Install Clusterpeida usi

[2022-02-22 03:07] Iceber commented on #85
@yankay Thanks for your feedback!

Since clusterpedia is not restricted to using `mysql` or `postgres`, and it is difficult to tell in the simplest manifest whether `mysql` or `postgres` is being used.

In the future, the type of storage component will be determined in the helm and the readiness of the storage component will be checked in advance. https://github.com/clusterpedia-io/clusterpedia/pu

[2022-03-08 05:31] cleverhu opened #93 "Support filter by creation time"
### What would you like to be added?

Support fuzzy query through the name of the resource and the range of creation time.

### Why is this needed?

This is commonly used in daily use. And it is convenient for our development and operation and maintenance personnel

[2022-03-08 05:57] Iceber commented on #93
@cleverhu Thank you very much for the proposal.

This issue should be two features, can be split into two issues and then discussed separatedly?

[2022-03-08 06:05] Iceber opened #94 "Support for fetching cluster authentication information from other resources"
### What would you like to be added?

`PdiaCluster` can directly reference fields from existing resources for cluster validation.

eg.
[code]

### Why is this needed?

Currently we need to fill `caData`, `tokenData` and other information in the `PediaCluster`,
but often these information may already exist in other resources,
it would be very convenient if we can get the authentication information

[2022-03-08 06:09] Iceber opened #95 "Support for cluster authentication via kubeconfig"
### What would you like to be added?

Use kubeconfig directly, instead of filling in ca, cert, key, etc. separately in PediaCluster

### Why is this needed?

Using kubeconfig will make the creation of pediacluster much easier.

[2022-03-09 02:13] cleverhu opened #97 "Support fuzzy query through the name of the resource"
### What would you like to be added?

Support fuzzy query through the name of the resource

### Why is this needed?

This is commonly used in daily use. And it is convenient for our devops to search resource!

[2022-03-09 03:22] Iceber commented on #93
Two search tags and query keys are planned to be added: `search.clusterpedia.io/since` and `search.clusterpedia.io/before`.

The time range is closed at the front and open at the back(`[, )`).

Three time formats will be supported for added convenience:
1. unix time
2. RFC3339(`2006-01-02T15:04:05Z07:00`)
3. UTC Date(`2006-01-02`)
4. UTC Datetime(`2006-01-02 15:04:05`)

[2022-03-09 04:44] cleverhu commented on #93
It's enough for daily filtering time, and it's also a greate feature.

[2022-03-09 04:44] cleverhu commented on #93
It's enough for daily filtering time, and it's also a greate feature.

[2022-03-09 05:43] #49 closed

[2022-03-09 12:08] yankay opened #101 "Should we add opensource license header in go file"
### What would you like to be added?

Should we add license header in go file

### Why is this needed?

It's very common. I'm not very sure the usage.

[2022-03-10 02:35] Iceber commented on #101
It is true that many repositories add license header to each go file, but there are some projects that do not, such as [runc](https://github.com/opencontainers/runc),[kubeedge](https://github.com/kubeedge/kubeedge),[dex](https://github.com/dexidp/dex)

After some enquiries, the [LICENSE](https://github.com/clusterpedia-io/clusterpedia/blob/main/LICENSE) in the repository is ready to generate the c

[2022-03-11 10:00] panpan0000 opened #109 "Add doc to explain scenario of how clusterpedia can help"
### What would you like to be added?

The `Features List` can not directly make people to adopt it.

Now we have the hammer, but how to promote to the world more effectively , so those nails can find this hammer?

1. SOE maybe one way. Maybe you can  describe as many as possible scenario  ,which this hammer can help .
2. Treat the project as a product, do everything those product manager will do :

[2022-03-11 10:31] feeltimeQ commented on #48
hi! I think this is a very necessary feature, in a multi-cluster environment, there are bound to be a lot of pods, and if there is a problem with the service and I need to check the status of the pods. I need this feature to retrieve the unhealthy pods, but pod.stauts.conditions is an array, so I can't do it. Only search by myself 😣.

`status:
  conditions:
  - lastProbeTime: null
    lastTransiti

[2022-03-11 10:34] Iceber commented on #109
@panpan0000 Yes, I should indeed reflect and summarize my recent work. In fact, a lot of what I'm doing now is just making clusterpedia even better than it already is, for example with small features and additional unit tests, which are important, but they don't attract more people to use and participate in it.

The real attraction for others is to show how clusterpedia fits in well with other pro

[2022-03-14 04:24] cleverhu opened #111 "Support synchronization of all CRD resources"
### What would you like to be added?

Support synchronization of all CRD resources by a field designed in pediacluster.

### Why is this needed?

It is useful for front-end display and viewing of all CRD resources.

[2022-03-14 04:45] Iceber commented on #111
It seems to be quite useful, after all, custom resources are more dynamic and it would be complicated for users to configure them in pediacluster every time they install crd.

However, for synchronising uncontrollable amounts of custom resources, which can lead to many long connections, it can be used as an experimental feature.

[2022-03-17 07:11] 27149chen commented on #95
We are investigating clusterpedia to see if it can be used in our products, but kubeconfig is a MUST to us. Could you consider to put it to v0.2.0?

[2022-03-17 07:48] Iceber commented on #95
@27149chen Can be added to 0.2.0 if needed.
However, in the first stage, it will support setting the data of kubeconfig directly in the PeidaCluster resource, instead of referencing the data in other resources (such as configmap, secret). Does this meet your needs?

[2022-03-17 08:45] RuliXu opened #116 "Support find Deploy/StatefulSet/DaemonSet related to pods"
### What would you like to be added?

Support find out which Deploy/StatefulSet/DaemonSet a pod belongs to.

### Why is this needed?

We would like to have a pod list related to a specific service, and the workload(deploy/statefulset/daemonset) related to the pod. Of course we can get the related workloads with the service selector, but we can only get pods and workloads separately, we can't tell

[2022-03-17 08:55] Iceber commented on #116
Currently, it is supported to find related pods through resources such as deployment/daemonset.
Do you want to find the corresponding deployment or daemonset through pod?

It is now possible to use the [field selector](https://clusterpedia.io/docs/usage/search/multi-cluster/#field-selector) to find the corresponding deployment or daemonset through the pod's lables.
`pod.labels -> deployment.spec.s

[2022-03-17 09:00] 27149chen commented on #95
yes, it is acceptable for the first stage

[2022-03-17 09:10] RuliXu commented on #116
Yes

I‘m afraid not, for example if pod.labels are more than deployment.spec.selector.matchLabels. I'm thinking we need to find corresponding workload through pod's ownerference.

[2022-03-17 09:41] Iceber commented on #116
Usually when we have obtained the complete pod or metadata, and then use metadata.owner to determine the workload it belongs to (if it is a ReplicaSet, then we could search Deployment, if it is DaemonSet/Statefulset/Job, then directly search Daemonset/StatefulSet/Job) .

Do you want to directly use the pod name to get the corresponding workload information without getting the complete resources or

[2022-03-17 10:00] RuliXu commented on #116
Yes, like this.

Not only the pod name, but the full data of Pod could be used.

[2022-03-18 03:57] #93 closed

[2022-03-21 11:51] #97 closed

[2022-03-22 06:09] #95 closed

[2022-03-24 13:11] feeltimeQ commented on #81
/assign

[2022-03-24 16:01] Iceber commented on #81
@feeltimeQ Thank you for joining!

[2022-03-28 03:03] AJ-X opened #120 "An error in the clusterpedia docs with installation module"
### What would you like to be added?

<img width="1398" alt="image" src="https://user-images.githubusercontent.com/38452461/160319414-0af360c1-6e24-4679-b27f-dfcd52c24cfe.png">
The operation sequence is wrong and should be changed.

### Why is this needed?

As described above.

[2022-03-28 05:22] Iceber commented on #120
@AJ-X Thank you very much for finding this issue！

[2022-03-28 05:27] #120 closed

[2022-03-30 03:13] #43 closed

[2022-03-30 03:46] Iceber opened #121 "helm: If the release name contains `mysql` or `postgresql` , the clusterpedia will not start successfully"
### What happened?

If the release name contains the name of a storage component, then clusterpedia will not start successfully.

realease name: clusterpedia-with-postgresql
[code]

[code]

Found that the svc name provided by postgres does not match the host in internalstorage config:
[code]

The host of the internstorage configmap has an additional postgres suffix.
The problem should be that the

[2022-03-30 04:00] Iceber commented on #45
repo: https://github.com/clusterpedia-io/client-go

[2022-03-30 04:00] #45 closed

[2022-04-15 03:20] Iceber commented on #111
`SyncAllCustomResources` is provided as an experimental feature and needs to be turned on in feature gates - `--feature-gates AllowSyncAllCustomResources=true`

The number of `custom resource definitions` is uncontrollable and may be very large, so if you encounter any exceptions or problems while synchronizing, please provide feedback in the issue in a timely manner

[2022-04-15 03:20] Iceber commented on #111
`SyncAllCustomResources` is provided as an experimental feature and needs to be turned on in feature gates - `--feature-gates AllowSyncAllCustomResources=true`

The number of `custom resource definitions` is uncontrollable and may be very large, so if you encounter any exceptions or problems while synchronizing, please provide feedback in the issue in a timely manner

[2022-04-15 06:35] liuzouzou opened #137 "指定集群名称查询报错"
### What happened?

[root@dce-10-6-215-215 ~]# kubectl --cluster clusterpedia get pod
CLUSTER           NAME                             READY   STATUS      RESTARTS      AGE
cluster-178-220   hello-79dbf8f975-fhkcl           1/1     Running     0             128m
cluster-example   cm-env-test-pod                  0/1     Completed   0             5d1h
cluster-example   ng1-849588dbb9-dqc7r

[2022-04-15 07:04] ycsk02 commented on #137
Hi liuzouzou, please check the kubeconfig file ~/.kube/config, if there is a cluster named cluster-128-168. If it is not exists, please regenerate the kubeconfig for clusterpedia's cluster by the script hack/gen-clusterConfigs.sh.

[2022-04-15 08:29] liuzouzou commented on #137
感谢，重新生成后可以了

[2022-04-15 08:29] #137 closed

[2022-04-15 13:22] #121 closed

[2022-04-17 09:02] ycsk02 commented on #8
The plan to fix this issue:
1, Add one type condition: ClusterSynchro. The ClusterSynchro condition has two status: True/False and three reason: InvalidConfig/InitialFailed/Running corresponding to buildClusterConfig/New/Run progress.
2, If cluster config changed, shutdown the synchro, change the Ready contion to Unkown status with reason ClusterSynchroStop, and set the cluster synchro to nil in t

[2022-04-18 03:17] liuzouzou opened #139 "Clusterpedia 分页的时候不能根据 namespace 进行分页"
### What happened?

## 查询 ns 的时候，限制了条数为 2，进行查询的时候，报错
[root@dce-10-6-215-215 pod-dir]# kubectl --cluster cluster-example get namespace --chunk-size 2
error: the server doesn't have a resource type "namespace"

### What did you expect to happen?

可以查询出 ns，并且返回两条数据

### How can we reproduce it (as minimally and precisely as possible)?

kubectl --cluster cluster-example get namespace --chunk-size 2

#

[2022-04-18 03:44] liuzouzou opened #140 "clusterpedia的文档中，关于指定集群的介绍中，后面多了个双引号""
### What happened?

# 指定集群也可以使用 --cluster <cluster name> 来指定
# 文档最后面多了个"
kubectl --cluster cluster-1 get deployments"

### What did you expect to happen?

修改文档，去掉"

### How can we reproduce it (as minimally and precisely as possible)?

文档地址：https://clusterpedia.io/zh-cn/docs/usage/search/multi-cluster/
 # 在指定集群的说明里面
指定集群也可以使用 --cluster <cluster name> 来指定
kubectl --cluster cluster-1 get deployments

[2022-04-18 04:18] Iceber commented on #140
It is recommended that issues for the document be submitted in https://github.com/clusterpedia-io/website.

@liuzouzou Are you interested in fixing this issue?

[2022-04-18 04:19] Iceber commented on #139
Are the namespace resources synchronized?
[code]

[2022-04-18 06:16] Iceber commented on #8
@ycsk02 Very detailed process and it seems reasonable.

Is there a better name for the new condition type other than `ClusterSynchro`. `ClusterSynchro` is a name I came up with arbitrarily :joy:, not sure if there is a more appropriate name for it.

[2022-04-18 07:30] liuzouzou opened #141 "通过clusterpedia指定资源名称搜索时，搜索出来的 svc 的 CLUSTER-IP 为 None，模糊搜索也是一样的问题"
### What happened?

# 直接搜索 svc ，service-nodeport  是有  CLUSTER-IP 的
[root@dce-10-6-215-215 ~]# kubectl get svc -n zouzou
NAME                 TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE
service-clusterip    ClusterIP   172.31.88.88     <none>        8080/TCP         4h44m
service-headliness   ClusterIP   None             <none>        9090/TCP         4h44m
service-nodeport

[2022-04-18 07:57] Iceber commented on #141
This is indeed an issue on 1.18 kube, due to the 1.22 dependency.

In 1.22 the service will use field `.spec.clusterIPs` to print `CLUSTER-IP`
https://github.com/kubernetes/kubernetes/blob/7061dbbf75f9f82e8ab21f9be7e8ffcaae8e0d44/pkg/printers/internalversion/printers.go#L1154-L1163

But in 1.18 service does not have `.spec.clusterIPs`.
[code]

[2022-04-18 08:01] Iceber commented on #141
@liuzouzou Thank you very much for discovering the issue.

Can you change the description to English so that others can view the issue?

We will fix this issue in 0.3.0, welcome to find more issues like this.

[2022-04-18 08:05] ycsk02 commented on #8
What about SynchroReady?

[2022-04-18 08:20] Iceber commented on #8
The new condition represents more like an initialization operation,
For example, `ClusterSynchroInitialized` or `Initialized` ?

[2022-04-18 08:26] ycsk02 commented on #8
ClusterSynchroInitialized is better, will use it.

[2022-04-18 08:38] liuzouzou commented on #140
I go to https://github.com/clusterpedia-io/website commit the issue and resolve it

[2022-04-18 08:38] #140 closed

[2022-04-19 02:02] #111 closed

[2022-04-19 03:29] luozhengtest opened #143 "未对接入集群信息做判断，一个集群可以重复接入"
### What would you like to be added?

1.使用A.yaml文件接入集群A
2.复制A.yaml文件，修改文件名和集群名为B
3.使用B.yaml文件接入集群
预期结果：提示集群已存在
实际结果：接入集群B
<img width="778" alt="image" src="https://user-images.githubusercontent.com/36952500/163914471-10bcb2b4-460c-4225-a01d-f6ab5bcd2cfa.png">

### Why is this needed?

对接入的yaml文件进行判断，若存在相同的集群接入，则接入失败，提示该集群已接入到clusterpedia

[2022-04-19 04:12] Iceber commented on #143
@luozhengtest clusterpedia does not verify the address of the cluster, but rather identifies the cluster by name

Multiple accesses to the same cluster are human controllable and clusterpedia has no need to restrict this.

[2022-04-19 04:14] Iceber commented on #139
@liuzouzou Does the problem still exist after namespace synchronization?

[2022-04-19 04:17] Iceber commented on #143
When you actively import it twice, then it must mean something to you.

[2022-04-19 05:50] liuzouzou commented on #139
No problem, thank you

[2022-04-19 05:50] #139 closed

[2022-04-19 06:06] liuzouzou opened #144 "When sorting the resource_version field in the cluster, the result is wrong"
### What happened?

<img width="1222" alt="wecom-temp-6481f3f543fe2366435429f32712a5ba" src="https://user-images.githubusercontent.com/43669330/163936539-63c08a8b-8ebd-412f-916d-3a477ddb761a.png">
<img width="1245" alt="wecom-temp-af951f2228022fa10d9553e247e0b89e" src="https://user-images.githubusercontent.com/43669330/163936662-13292127-0122-420e-9c00-ee37e057ef12.png">

### What did you expect t

[2022-04-19 06:32] Iceber commented on #144
@liuzouzou Thank you very much for the feedback!

The `internalstorage` saves the resource version as a string, but does not convert it to a number for sorting.

We need to convert the `resource_version` field to int when sorting.
https://github.com/clusterpedia-io/clusterpedia/blob/0249d9f3ac6be8089cb83307165268bbeb620e97/pkg/storage/internalstorage/util.go#L137-L144

[2022-04-19 07:04] luozhengtest commented on #143
多集群或多人操作时，前期出现误操作时没有保险，导致接入成功；后期发现问题后，只能通过确认配置或根据资源信息确定某个集群是否重复接入，再对比接入集群和已有集群，排查漏导入的集群工程巨大；而且同一个集群重复接入后，除了增加检索结果的冗余度，无实际意义

[2022-04-19 07:19] Iceber commented on #143
实际上没有一个非常合适的方式来区分不同的集群，如果只是通过配置来区分的话，用户如果存在误操作依然可能会使用不同的 token 或者集群地址来接入相同的集群。

如果我们最终的目的是避免接入相同集群的话，那么并没有非常好的方案，用户总能用各种方式来接入相同集群

[2022-04-19 07:47] luozhengtest commented on #143
好的

[2022-04-19 07:47] #143 closed

[2022-04-20 02:55] luozhengtest opened #146 "手动转换kubeconfig文件配置后，提示file name to long"
### What would you like to be added?

.kube/config文件中client证书配置为路径时，手动替换为base64形式，在接入clusterpedia时，提示“file name to long”
<img width="1411" alt="wecom-temp-50b28feccd7090c8d3d8a6d591644c7d" src="https://user-images.githubusercontent.com/36952500/164140938-73be1d93-b5b6-4f8e-ae51-e0f35f9a9817.png">

### Why is this needed?

对配置读取进行优化

[2022-04-20 02:58] calvin0327 opened #147 "the CRD file is missing from the deploy directory"
### What would you like to be added?

If we deploy Clusterpedia using `kubectl apply` instead of `helm`, having to find the CRD files from the `/charts/_crd/ ` directory would be a hassle.

We can soft-link the files to the `/deploy` directory.

### Why is this needed?

Be more friendly to deploy Clusterpedia.

[2022-04-20 03:05] luozhengtest opened #148 "通过配置kubeconfig的形式接入clusterpedia，被接入集群的kubeconfig的userclient相关配置项需转换为base64"
### What would you like to be added?

1.将被接入集群的kuconfig文件转换为base64格式
2.使用转换的kuconfig接入集群
预期结果：接入成功
实际结果：接入失败
<img width="1416" alt="wecom-temp-487bc23c3f0ee26bda16ec491df46d61" src="https://user-images.githubusercontent.com/36952500/164142075-1222d14a-4973-474c-a294-73cc1ec3ca2a.png">

### Why is this needed?

被接入集群的kubeconfig的userclient相关配置项需转换为base64

[2022-04-20 03:10] luozhengtest opened #149 "To access the cluster using the get access to cluster ca and token method, replace the namespace in kubeconfig with default"
### What would you like to be added?

1.使用获取被接入集群ca和token方式接入集群
2.获取ca和token失败
<img width="1407" alt="wecom-temp-2668adfb8827eb1598677c14254ecc07" src="https://user-images.githubusercontent.com/36952500/164142641-843402d4-36d8-4847-90ab-57d225dc2b7d.png">

### Why is this needed?

将被接入集群的kubeconfig中的namespace替换为default能正常获取

[2022-04-20 03:20] calvin0327 opened #150 "use the template to configure the pediaCluster resource"
### What would you like to be added?

In these cases, our experience is very unfriendly:
* when we need to synchronize multiple clusters at once, we need to populate a large amount of resource information, including very basic resources. e.g: `pod`, `node`, `deployment`
* if you want to add or delete multiple `pediaCluster` synchronization resources at the same time

we can use a resource template

[2022-04-20 03:26] Iceber commented on #146
The base64 data should be configured in a field like `user.client-certificate-data` that ends with `data`, You should have configured it in `user.client-certificate`, which is wrong

[2022-04-20 03:26] #146 closed

[2022-04-20 03:29] Iceber commented on #148
This issue can be submitted in the [website](https://github.com/clusterpedia-io/website) to remind users in the documentation

[2022-04-20 03:34] Iceber commented on #149
@luozhengtest Nice find, you can set the namespace in the command, would you be interested in modifying the documentation?

For easier viewing, can you change it to English?

[2022-04-20 03:41] Iceber commented on #148
@luozhengtest For easier viewing, can you change it to English?

[2022-04-20 06:32] luozhengtest commented on #148
OK

[2022-04-20 06:37] luozhengtest commented on #149
OK

[2022-04-20 08:04] Iceber opened #151 "The internalstorage allows passing a piece of SQL to support more flexible query requirements"
### What would you like to be added?

Many complex search queries are currently available, such as field selector and search by owner, but sometimes users have more customizable query needs .

To make the query more powerful, the plan wants to add an exclusive query feature to internalstorage that supports users passing a piece of SQL and then splicing the user's SQL after the **WHERE**.

Of cours

[2022-04-20 08:09] Iceber commented on #151
Whether base64 SQL can be used as the value of the label ？

Since this feature is not likely to be used in `kubectl`, there is no need to think too much about readability and ease of use in `kubectl`

[2022-04-20 08:34] wawa0210 commented on #151
This idea is very good, and a more flexible query method is urgently needed in our actual product use

[2022-04-21 03:02] liuzouzou opened #153 "Allows resources to be synchronized using the singular/plural of the resource and can be case-insensitive"
### What would you like to be added?

Allows resources to be synchronized using the singular/plural of the resource and can be case-insensitive

### Why is this needed?

In kubernetes both singular and plural are available to query the data, which increases fault tolerance

[2022-04-21 03:30] Iceber commented on #153
This is very meaningful and improves fault tolerance, Thanks!

[2022-04-21 03:54] luozhengtest opened #154 "After paging by clusterpedia, specify offset to filter by number of entries, should filter by number of pages"
### What would you like to be added?

1.Retrieve resources and set the number of pagination to 5 and and set offset to 0
2.set offset to 1
3.set offset to 2
Actual results：
    1.1-5 resources retrieved
    2.2-6 resources retrieved
    3.3-7 resources retrieved
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/36952500/164368191-5685978c-b2df-421e-9663-ee391fdb1a26.png"

[2022-04-21 04:20] Iceber commented on #154
`Offsets` provide more basic capabilities than `pages` and are more in line with the meaning of the kube API's `ListOption.Continue`

[2022-04-21 05:02] luozhengtest commented on #154
ok

[2022-04-21 05:02] #154 closed

[2022-04-23 13:38] #153 closed

[2022-04-23 13:39] #149 closed

[2022-04-24 08:01] Iceber commented on #149
https://github.com/clusterpedia-io/website/pull/36

[2022-04-24 08:23] wilsonwu opened #159 "License copyright need to be updated"
### What would you like to be added?

I the License file, the copyright is:
Copyright [yyyy] [name of copyright owner]

suggest to change the license copyright to correct one.

### Why is this needed?

perfesional

[2022-04-24 08:40] Iceber commented on #159
Thank you very much for the advice!

I referenced other projects, including [kubernetes](https://github.com/kubernetes/kubernetes/blob/master/LICENSE), [kubedge](https://github.com/kubeedge/kubeedge/blob/master/LICENSE), [prometheus](https://github.com/prometheus/prometheus/blob/main/LICENSE).
And found that prometheus also rolled back a similar issue：https://github.com/prometheus/prometheus/pull/

[2022-04-25 07:37] #8 closed

[2022-04-25 08:58] ycsk02 commented on #6
Abnormal resource synchronization information can be displayed in SyncResources of cluster status
SharedIndexInformer supports setting a custom error handling function by the Config item WatchErrorHandler.
Add WatchErrorHandler in the resourceVersionInformer to specify the custom error handler. Due to reflector's watchErrorHandler is a unexported field, it requires a custom reflector.

[code]

[co

[2022-04-26 10:23] ycsk02 commented on #6
When reconciling PediaCluster, only in the clustersynchro.New assignment resourceNegotiator, so resourceNegotiator.restmapper is unaware of the resources changes in Kubernetes. we could retrieve the Mapper in setSyncResources.

[https://github.com/clusterpedia-io/clusterpedia/blob/ce5218f19b5aa21157244daddf504e1a87f73d81/pkg/synchromanager/clustersynchro_manager.go#L256-L266](url)

When the synchr

[2022-04-27 05:18] Iceber commented on #6
The restmapper is actually only used for geting internal resources, while the custom resource controller will reconcile the custom resource information.

If the actual internal version or resources change due to cluster upgrade, I think the monitor can trigger the restmapper update, after all, the version will be checked in the monitor, of course, now only when the cluster is restored after losing

[2022-04-27 05:29] Iceber commented on #6
The reason I'm not a big fan of copying reflector.go is that we don't need to modify reflector.go for a while, and copying it introduces additional maintenance costs and risk of errors.

If we are just using reflection, then we actually just need to keep it the same way as cache.Controller (e.g. by stating in a comment that it needs to be consistent with that part of the code)

I think it is not n

[2022-04-27 18:02] feeltimeQ commented on #141
/assign

[2022-04-28 02:49] Iceber commented on #141
@feeltimeQ Do you have some ideas on how to solve this bug?

[2022-04-28 06:55] calvin0327 opened #167 "upgrade featuregate `PruneLastAppliedConfiguration` `PruneManagedFields` to beta in v0.0.3"
### What would you like to be added?

 In the past few releases, both featrue `PruneLastAppliedConfiguration` and `PruneManagedFields` have been stable and mature. Will we update these featuregate in V0.0.3?

### Why is this needed?

feature upgrade

[2022-04-28 06:59] calvin0327 commented on #151
We also need to walk users through our table structure so they can build the correct SQL statements.

[2022-04-28 07:03] Iceber commented on #151
@calvin0327 Yes, this is provided as an advanced feature, and it is provided by internalstorage; other storage layers do not provide this feature.
Users need to understand the table structure of internalstorage in detail when using this feature.

[2022-04-28 07:11] Iceber commented on #151
After some research, it turns out that base64 doesn't work well because the character length reaches the label selector limit.
I don't think clusterpedia needs to modify the validation of the `ListSelector` for a feature specific to the storage layer.

Then this function may only pass sql via query, and does not support search labels.

@calvin0327 Then, to make it easier to use, we may need to imp

[2022-04-29 08:43] calvin0327 commented on #151
@Iceber it  should be implemented in client-go. but I still don't know how to implement `URL query`.

[2022-04-29 09:35] Iceber commented on #151
Roughly similar to the dynamic client, we can additionally support adding a URL Params parameter to the List function.
example:
[code]

[2022-04-30 07:30] 27149chen opened #168 "Support wildcard (like "*") for resources to sync"
### What would you like to be added?

Support wildcard (like "*") for resources to sync, in the following format:
[code]

[code]

### Why is this needed?

we need to list all resources in a cluster dynamically (the resource types might be changing)

[2022-04-30 13:18] 27149chen opened #169 "Use Collection Resource to list all resources in a namespace"
### What would you like to be added?

Use Collection Resource to list all resources in a namespace

### Why is this needed?

Use Collection Resource to list all resources in a namespace

[2022-05-01 11:12] #144 closed

[2022-05-01 11:14] Iceber commented on #168
Wildcard is useful.
For synchronizing all resources in all groups, the feature gate `AllowSyncALLResources`  is added to enable wildcard for groups.

The wildcard for resources in a group are supported by default

[2022-05-01 11:15] Iceber commented on #168
In addition, resources that do not support the watch method are still not synchronized

[2022-05-05 02:20] feeltimeQ commented on #141
I didn't reproduce this in k8s 1.21, do I need to reproduce it in 1.18, sorry, I don't think I have a good idea, do you have any suggestions? @Iceber

[2022-05-05 04:19] Iceber commented on #167
These two features are available in 0.0.9-alpha, and I feel they are very useful, and can be upgraded to beta in 0.3.0, by default to True.

@ycsk02 @27149chen @wawa0210 What do you think, or will we upgrade to beta at 0.4 or higher?

[2022-05-05 09:21] 27149chen commented on #167
It's ok to me

[2022-05-05 09:31] wawa0210 commented on #167
The default featuregate is very useful, greatly reduces storage space, and can be released as soon as possible if possible

[2022-05-05 15:45] liangyongzhenya commented on #147
/assign

[2022-05-06 05:27] #151 closed

[2022-05-06 08:45] ycsk02 commented on #167
useful featuregate, looks good.

[2022-05-06 08:48] Iceber commented on #167
cc @calvin0327
Please upgrade these feature gates.

[2022-05-07 02:41] Iceber opened #177 "Support for setting feature gates in helm charts"
### What would you like to be added?

Add settings for feature gates in *values.yaml*, `apiserver` and `clustersynchro manager` need to be able to be set separately.

### Why is this needed?

We need to support the setting of feature gates when deploying with helm, otherwise it's a pain to modify them after the deployment is complete.

[2022-05-07 03:05] calvin0327 commented on #177
/assign

[2022-05-07 03:37] Iceber commented on #81
The default value for feature gateway RemainingItemCount is true.

We can't change this default, so it seems we need to actively set it in the charts and  apiserver deploy yaml. `--feature-gates=RemainingItemCount=false`.
https://github.com/clusterpedia-io/clusterpedia/blob/e38f39f03d2483ebbfc5b2c96a13e6b71a0f835f/deploy/clusterpedia_apiserver_deployment.yaml#L36-L44
What do you think? @calvin0327

[2022-05-07 03:38] #167 closed

[2022-05-12 09:32] ycsk02 commented on #169
Hi @27149chen ,  `all resources ` what is it reference to? Do you mean workloads filtered by namespace?

[2022-05-12 10:07] Iceber commented on #169
@ycsk02 The `all resources` are all types of resources (rbac resources, nodes, workloads etc...), should be a new Collection Resource.
However, custom resources may hold multiple versions, so we may only be able to support kubernetes built-in resources

[2022-05-12 10:26] ycsk02 commented on #169
I think we could add the new Collection Resource in collectionResources map, but maybe we can only support resources filtered by namespace through API query request, rather than kubectl command.
https://github.com/clusterpedia-io/clusterpedia/blob/562f7b78450d58823c67ee2c9f6697176d617fe3/pkg/storage/internalstorage/storage.go#L129

https://github.com/clusterpedia-io/clusterpedia/blob/562f7b78450d5

[2022-05-13 11:28] #147 closed

[2022-05-17 14:26] #6 closed

[2022-05-19 02:04] hang-ren opened #183 "invalid version unknown revision mentioned in log when we want to update the module"
### What happened?

In our project, we required this module like this:

github.com/clusterpedia-io/api v0.0.0-20220510034551-b353c251711d

But we found that it will show invalid version error when we try to check/show it:
<img width="861" alt="企业微信截图_e0e3e3ab-66da-46d7-83a8-dd8428ca2b9b" src="https://user-images.githubusercontent.com/29770618/169187668-0c4f8881-39c4-468c-b004-18eb38ce2df7.png">

A

[2022-05-19 03:25] Iceber commented on #183
This is an issue caused by the first push of the [repository](https://github.com/clusterpedia-io/client-go) and may require a specific `api` version to be specified for the time being.
[code]

This will be fixed automatically the next time the api changes

[2022-05-19 03:27] cleverhu commented on #150
/assign

[2022-05-19 10:14] Iceber opened #185 "Support for automatic import of multi-cluster platforms like Cluster API, Karmada, Clusternet etc."
### What would you like to be added?

clusterpedia was originally designed to provide resource querying for multiple clusters on top of a multi-cluster management platform.

The most common multicluster platforms today, such as [cluster api](https://github.com/kubernetes-sigs/cluster-api), [karmada](https://github.com/karmada-io/karmada), [clusternet](https://github.com/clusternet/clusternet), etc

[2022-05-19 10:32] #81 closed

[2022-05-19 10:39] chaunceyjiang commented on #185
Sorry ,i didn't understand its meaning. Can you explain it more clearly?

I guess you're talking about the `cluster`  CRD of [clusterpedia](https://github.com/clusterpedia-io/clusterpedia)?

[2022-05-19 11:08] Iceber commented on #185
@chaunceyjiang Yes, the programme is still being refined, so the descriptions will be vague.

Example, clusterpedia will automatically trigger the creation/update/deletion of `PediaCluster` based on the creation of CRDs representing clusters in the Cluster API, updates to the kube config related configuration, and the deletion of these CRDs

[2022-05-19 11:18] #177 closed

[2022-05-19 14:24] cleverhu commented on #169
/assign

[2022-05-20 02:04] chaunceyjiang commented on #185
Hi, I have a little question. Is this just a connection to the `cluster API`, `karmada` itself, or will it also collect status the member clusters managed by them?

[2022-05-20 06:23] #13 closed

[2022-05-20 07:36] feeltimeQ opened #187 "clusterpedia list resources only return metadat"
### What would you like to be added?

One listOptions, only return matedata information .

### Why is this needed?

When I list a resource I find that it gives me the full amount of resource information.

Example:
<img width="1266" alt="wecom-temp-b3b1ff0e5b7e075b32846d914e6c7ed1" src="https://user-images.githubusercontent.com/52406499/169477707-34c611fa-2a00-4cdc-a424-09f14451d565.png">

But I th

[2022-05-20 07:40] Iceber commented on #187
Very good questions.
clusterpedia supports returning only metadata，use [k8s client-go metadata client](https://github.com/kubernetes/client-go/tree/master/metadata)

[2022-05-27 08:21] Iceber commented on #169
**TODO in 0.3.0**: support onlyMetadata in the url query to return only metadata data

[2022-05-28 08:30] calvin0327 commented on #183
The issue has be solved. it can be closed. @Iceber

[2022-05-30 03:10] #168 closed

[2022-05-30 04:27] Iceber commented on #183
@calvin0327 The version order looks the same as before
https://pkg.go.dev/github.com/clusterpedia-io/api?tab=versions

[2022-05-30 04:28] Iceber commented on #169
Use `kubectl get collectionresources [workloads|kuberesources]` or specify query (onlyMetadata) in the url to get only the metadata

[code]

`collection resources` supports most of the complex search, but for the time being only supports url query does not support search label . https://clusterpedia.io/docs/usage/search/

eg.
specify a single or some namespaces
[code]

[2022-05-30 04:30] Iceber commented on #169
We should provide a client for collecting resources in [client-go](https://github.com/clusterpedia-io/client-go), what do you think? @calvin0327

[2022-05-30 04:38] Iceber commented on #183
The [staging/api](https://github.com/clusterpedia-io/clusterpedia/tree/main/staging/src/github.com/clusterpedia-io/api) has been updated and the problem is fixed after syncing to the api

[2022-05-30 09:50] Iceber commented on #94
https://github.com/clusterpedia-io/clusterpedia/issues/185 will include this feature

[2022-05-30 09:50] #94 closed

[2022-05-30 09:51] Iceber commented on #141
This issue only affects the display when kubectl gets, and will be fixed in the future

[2022-05-30 09:53] Iceber commented on #85
[#134 ](https://github.com/clusterpedia-io/clusterpedia/pull/134) has not been merged, and the issue does not affect the 0.3 release, ready to be fixed in 0.4

[2022-06-01 02:36] Iceber opened #196 "The feature gate `RemainingItemCount` should default to false"
### What happened?

https://github.com/clusterpedia-io/clusterpedia/issues/81  uses kube's native feature gate `RemainingItemCount` to set whether RemainingItemCount is returned by default.
[code]

If the feature gate is not explicitly set to true, then every search will return the remaining count, adding additional sql queries to the default storage layer

### What did you expect to happen?

The

[2022-06-01 02:52] cleverhu commented on #196
/assign

[2022-06-01 05:39] #196 closed

[2022-06-01 07:48] calvin0327 commented on #85
@Iceber @RuliXu  I think the [pr](https://github.com/clusterpedia-io/clusterpedia/pull/199)  is better.  close the previous pr.

[2022-06-01 07:55] calvin0327 commented on #169
I think so.

[2022-06-01 10:13] Iceber commented on #169
https://github.com/clusterpedia-io/client-go/issues/37

[2022-06-01 10:13] #169 closed

[2022-06-06 02:55] Iceber commented on #183
[clusterpedia-io/api](https://github.com/clusterpedia-io/api) has been updated

[2022-06-06 02:55] #183 closed

[2022-06-06 06:56] Iceber opened #205 "bump kubernetes to v1.24"
### What would you like to be added?

bump kubernetes to v1.24
- [x] upgrade go.mod and [staging/api](https://github.com/clusterpedia-io/clusterpedia/tree/main/staging/src/github.com/clusterpedia-io/api) to v1.24, and update code https://github.com/clusterpedia-io/clusterpedia/pull/204
- [x] sync [informer/.reflector.go](https://github.com/clusterpedia-io/clusterpedia/blob/main/pkg/synchromanager/

[2022-06-07 06:09] Iceber opened #206 "The `apiservice controller` and `crd controller` of the clustersynchro will not stop when the cluster is not healthy"
### What happened?

The `apiservice controller` and `crd controller` of the clustersynchro will not stop when the cluster is not healthy.

### What did you expect to happen?

The apiservice controller and crd controller of the synchronizer can be automatically started and stopped according to the health status of the `imported cluster`

### How can we reproduce it (as minimally and precisely as po

[2022-06-07 06:45] Iceber opened #207 "Optimize response error when specifying resource name query"
### What would you like to be added?

Optimize response errors when using a resource name to get a specific resource without specifying a cluster.

When we get a specific resource without specifying a cluster, this will report a 404 error
[code]

The error message `the server could not find the requested resource (get deployments.apps fake-pod)` is very vague and the user cannot get a useful messa

[2022-06-08 06:33] #85 closed

[2022-06-08 07:14] wuyingjun-lucky commented on #207
/assign

[2022-06-08 09:17] wuyingjun-lucky opened #211 "make images just only in cache but not load into docker"
### What happened?

1. When I just want make images from make file
2. It succeed but I can not found images from `docker images`
3. And the output is `WARN[0000] No output specified for docker-container driver. Build result will only remain in the build cache. To push result image into registry use --push or to load image into docker use --load`
4. Should we use --load in make images stage?

### W

[2022-06-08 09:17] wuyingjun-lucky commented on #211
@Iceber

[2022-06-08 09:51] #207 closed

[2022-06-09 02:07] Iceber commented on #211
This is a issue caused by the builder of buildx.

If buidler uses `docker`, then the image will be loaded into docker even if `--load` is not used.
You can use `docker buildx ls` to list the builders：
[code]

If it is `docker-container`, it will not have this default behavior.

**In order to load the image into docker no matter which builder we use, I think we should add --load to the `docker buil

[2022-06-09 02:11] #205 closed

[2022-06-09 02:15] wuyingjun-lucky commented on #211
Yes
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/16109961/172749812-2b9612dd-a0aa-4c78-8b82-395c7d6998ae.png">

[2022-06-09 06:36] #211 closed

[2022-06-09 06:42] wuyingjun-lucky opened #216 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored
https://github.com/clusterpedia-io/clusterpedia/pull/215
https://github.com/clusterpedia-io/clusterpedia/pull/209
https://github.com/clusterpedia-io/clusterpedia/pull/208

### PRs reviewed

### Issues involved

https://github.com/clusterpedia-io/clusterpedia/issues/211

[2022-06-09 06:42] wuyingjun-lucky commented on #216
@Iceber

[2022-06-09 06:52] cleverhu opened #217 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored
https://github.com/clusterpedia-io/clusterpedia/pulls?q=author%3Acleverhu
https://github.com/clusterpedia-io/client-go/pulls?q=author%3Acleverhu
### PRs reviewed
https://github.com/clusterpedia-io/clusterpedia/pull/182
https://github.com/clusterpedia-io/clusterpedia/pu

[2022-06-09 07:02] Iceber commented on #216
+1, Thank you for the contributions and weclome 🎉

Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-06-09 07:06] calvin0327 commented on #217
/lgtm

[2022-06-09 07:07] Iceber commented on #217
lgtm +1, Thank you for the contributions and weclome 🎉

Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-06-09 07:12] wuyingjun-lucky commented on #216
thank you @Iceber Hope to bring more to clusterpedia

[2022-06-09 07:16] Iceber commented on #216
@wuyingjun-lucky I believe your participation will make clusterpedia better.

[2022-06-09 07:16] #216 closed

[2022-06-09 08:34] Iceber opened #218 "When only resource metadata is requested, the `default storage layer` selects only metadata"
### What would you like to be added?

When querying `collection resource`, if you only need to get the metadata, the `default storage layer` will only select the `objects->>metadata` in the database. https://github.com/clusterpedia-io/clusterpedia/pull/193

For nomal kube resources(eg. pod, deployments), the `storage layer` also need select only metadata when getting only metadata, so as to **avoi

[2022-06-10 08:36] Iceber opened #220 "Move `CustomResourceScheme` to `UnstructuredScheme`"
### What would you like to be added?

`resourcescheme.CustomResourceScheme` is not only used for custom resource, but may also be used for AA resources, so the following changes are needed to make the semantics more generic.

**change `CustomResourceScheme` to `UnstructuredScheme`**
[code]

**change `CustomResourceCodecs` to `UnstructuredCodecs`**
[code]

### Why is this needed?

`UnstrucutredSche

[2022-06-13 03:56] Iceber opened #226 "Use `k8s.io/component-base/cli` to run the command"
### What would you like to be added?

There are many initialization operations wrapped in `k8s.io/component-base/cli`, which we can use `cli.Run` to run the command( [apiserver](https://github.com/clusterpedia-io/clusterpedia/tree/main/cmd/apiserver/main.go), [clustersynchro-manager](https://github.com/clusterpedia-io/clusterpedia/blob/main/cmd/clustersynchro-manager/main.go)

You can refer to the

[2022-06-13 03:56] #220 closed

[2022-06-13 10:17] liangyongzhenya commented on #226
/assign

[2022-06-15 03:27] hanweisen opened #230 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored
#228
#225

### PRs reviewed

### Issues involved

### Others
https://github.com/clusterpedia-io/website/pull/39

[2022-06-15 04:39] wuyingjun-lucky commented on #230
@Iceber

[2022-06-15 05:26] Iceber commented on #230
Although we expect members to merge at least 3 pr in the [clusterpedia-io/clusterpedia](https://github.com/clusterpedia-io/clusterpedia), it is not mandatory.
@wuyingjun-lucky and I are confident that you will have more participation in the future.

Thank you for contributing and welcome🎉!

[2022-06-15 05:28] Iceber commented on #230
@hanweisen Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-06-15 05:31] wuyingjun-lucky commented on #230
Sorry,  I make a mistake that pull request in clusterpedia-io/website is included

[2022-06-15 05:38] cleverhu commented on #217
thank you @Iceber, I have joined the organization and hope to make more contributions in the future.

[2022-06-15 05:38] #217 closed

[2022-06-15 05:43] wuyingjun-lucky opened #231 "Clusterpedia robot for clusterpedia repository"
### What would you like to be added?

Add clusterpedia robot to help to review code and pull request

### Why is this needed?

Maintainer will merge the pull request after the pipeline succeed manually although maintainers and reviewers review and approve some small pull request at very early time.
I think we can introduce robot for improving efficiency in `code review` and `merge request`

[2022-06-15 05:43] wuyingjun-lucky commented on #231
@Iceber

[2022-06-15 05:45] Iceber commented on #230
It is ok, the description of the Member requirements is not very visible, and the membership requirements will be detailed in a separate markdown in the future.

[2022-06-15 05:49] Iceber commented on #231
Yes, it is necessary. My plan is to use https://github.com/wzshiming/gh-ci-bot to implement a simple robot, what do you think?

This is a example repo: https://github.com/wzshiming/gh-ci-bot-playground

[2022-06-15 05:51] Iceber commented on #231
But I'm a little worried about security, because we'll be handing over a very privileged token to the action to do something.

[2022-06-15 05:55] wuyingjun-lucky commented on #231
It seems lack of `lgtm` command.

[2022-06-15 05:58] wuyingjun-lucky commented on #231
In other words . The maintainers and reviewers invited in the future can not write the repository directly. Maybe it is more safe .

[2022-06-15 06:19] Iceber commented on #231
@wzshiming https://github.com/wzshiming/gh-ci-bot is missing a common command `lgtm` —— add an lgtm lable.

Although `/label-lgtm` can also be used, it seems that `/lgtm` is more commonly used.

[2022-06-15 06:29] Iceber commented on #231
Yes, we can consider doing this.

There is a security issue, the `gh-ci-bot`scripts need to be pulled from the  https://github.com/wzshiming/gh-ci-bot  to be executed ([detail](https://github.com/wzshiming/gh-ci-bot/blob/e1b7e6044baf936ffba81769b147f038cd22345d/.github/workflows/ci-bot.yml#L79)), and this can cause more serious problems if scripts in the repository are replaced with malicious scri

[2022-06-15 06:33] wuyingjun-lucky commented on #231
Sounds good.
Actually, In our personal gitlab repo, we also have a project named gitlab-bot in our private group to do this.

[2022-06-15 06:58] Iceber commented on #231
Your gitlab-ci seems to work fine, would you like to migrate/contribute to clusterpedia-io? We can simply compare the two tools and choose the easiest and most convenient one.

[2022-06-15 07:10] wuyingjun-lucky commented on #231
I'd like to
But the gitlab open api is different with github
and
our bot is looks too simply to satisfy clusterpedia's needs
I will try to find some way in my spare time.

[2022-06-15 08:57] Iceber commented on #231
This issue is not particularly pressing and we can have more discussions :smile:

[2022-06-15 09:46] Iceber commented on #231
@wzshiming https://github.com/wzshiming/gh-ci-bot#gh-ci-bot looks like it needs to be updated:joy:.

[2022-06-15 10:21] wzshiming commented on #231
Updated 😃

[2022-06-16 02:57] #230 closed

[2022-06-16 03:29] Iceber opened #237 "The log flags are not set in apiserver using logs.Config."
### What happened?

`clusterpedia-apiserver` is missing logs flags

### What did you expect to happen?

Add `logs flags` in apiserver.

### How can we reproduce it (as minimally and precisely as possible)?

[code]
not found logs flags.

### Anything else we need to know?

You can refer to clustersynchro-manager for the logs settings.
https://github.com/clusterpedia-io/clusterpedia/blob/f131cccc4e2

[2022-06-16 03:52] Iceber opened #238 "cmd/clustersynchro-manager has duplicated log tags"
### What happened?

duplicate log tags
[code]

### What did you expect to happen?

Only need to set log tags once

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

we need to add `logs.SkipLoggingConfigurationFlags()` to the globalflag.AddGlobalFlags to prevent duplicate registration of log flags.
https://github.com/clusterpedia-io/

[2022-06-16 03:57] Iceber commented on #185
Since `ClusterImportPolicy` and `PediaClusterLifecycle` are likely to be modified more frequently, we put them under a new group - *policy.clusterpedia.io*, and possibly under *cluster.clusterpedia.io* in the future in 1.0

[2022-06-16 04:44] #218 closed

[2022-06-16 07:57] RuliXu opened #240 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored

https://github.com/clusterpedia-io/clusterpedia/pulls?q=is%3Apr+RuliXu+

### PRs reviewed

https://github.com/clusterpedia-io/clusterpedia/pull/229
### Issues involved

https://github.com/clusterpedia-io/clusterpedia/issues/116
### Others
https://github.com/clusterped

[2022-06-16 09:46] Iceber commented on #240
+1, Thank you for the contributions and weclome 🎉

[2022-06-16 09:55] RuliXu commented on #240
Thank you @Iceber for your guidance and help, looking forward to contributing more ; )

[2022-06-17 01:57] #240 closed

[2022-06-20 02:08] Iceber commented on #185
The authentication information obtained from the source cluster may have very high permissions, while the only permissions required by clusterpedia are actually read-only.

We can add a `spec.adminKubeConfig` template field, and then we create a low privilege sa for clusterpedia based on this adminKubeConfig

[2022-06-23 08:17] Somefive opened #243 "Support KubeVela multi-cluster"
### What would you like to be added?

KubeVela also has multi-cluster delivery capability. I saw that clusterpedia is going to support Karmada&ClusterNet. Will it be possible to support KubeVela or OCM (Open Cluster Management) as well? Or any future plan?

If there is some documentations for instructing how to integrate with clusterpedia, I think KubeVela community might also be willing to do it.

[2022-06-23 08:39] Iceber commented on #243
@Somefive Oh, and of course, clusterpedia cloud discover clusters that are managed by `kubevela`/`oam`.

https://github.com/clusterpedia-io/clusterpedia/issues/185 is actually a generic solution, not specific to one or some multi-cloud platform. Just define a ClusterImportPolicy for OAM and you will be able to discover these clusters

[2022-06-24 07:07] qiuming520 opened #247 "apiservice and clustersynchro-manager pod synchronize localtime zone"
### What would you like to be added?

clusterpedia_apiserver_deployment.yaml and clusterpedia_clustersynchro_manager_deployment.yaml  add
[charts/templates/apiserver-deployment.yaml](url)
[charts/templates/clustersynchro-manager-deployment.yaml](url)
[deploy/clusterpedia_apiserver_deployment.yaml](url)
[deploy/clusterpedia_clustersynchro_manager_deployment.yaml](url)

        volumeMounts:

[2022-06-24 07:09] qiuming520 commented on #247
/assign @Iceber

[2022-06-24 07:55] Iceber commented on #247
It is indeed sometimes more convenient to use local time zone.

But this is not a generic behavior (most products use utc by default and do not mount local time file) and different users may have different needs, so we can't mount files directly or by default.

---

Of course we support users to set the local time also looks very good.

In helm, we can add a field to the values.yaml to control whe

[2022-06-24 08:23] #238 closed

[2022-06-24 10:12] wzshiming commented on #247
If want support local time in logs, I think it is necessary to change the time format to RFC3339,
Otherwise, the local time would be confusing

[2022-06-24 14:34] Iceber commented on #247
If we want to set the local time separately for clusterpedia, then we need to show the current time zone in the log, but unfortunately klog doesn't seem to have a way to configure the time format.

This makes it difficult to determine the time zone without looking at the pod yaml. When troubleshooting issues with other project(kube-apiserver) logs, it's easy to get confused about time zones.

Alth

[2022-06-25 11:56] qiuming520 commented on #247
yeah ! I get you !  I will take your suggestion that The uniform approach to setting the time zone for all pods in my project.
Of course, I will close this issue without other discussion

[2022-06-27 02:10] #150 closed

[2022-06-27 07:14] #237 closed

[2022-06-27 07:52] cleverhu opened #251 "When the database does not exist, the program will not exit"
### What happened?

When the database is deleted, syncmanager will not exit which results in no data acquisition.

### What did you expect to happen?

When the database does not exist, the program needs to restart the syncmanger to create a new table.

### How can we reproduce it (as minimally and precisely as possible)?

delete the mysql table manually.

### Anything else we need to know?

_No re

[2022-06-27 08:11] Iceber commented on #251
The database should actually be created by the user, clusterpedia may not have the privilege to create the database

At startup, clusterpedia creates the tables in the database.

[2022-06-29 05:16] Iceber opened #255 "Clusterpedia Community Meeting"
### What would you like to be added?

We intend to hold regular community meetings to make it easier for everyone to discuss issues and share ideas.

[Clusterpedia Community Meeting Notes](https://docs.google.com/document/d/1FjnTB_ofAANCTQhYo4hC2-RbMzHeJWZyiJ2LsSNExLQ/edit?usp=sharing)

We will start with meetings in Chinese. If any demand for **English meetings**, you are welcome to provide sugge

[2022-06-29 05:38] #247 closed

[2022-06-29 11:27] qiuming520 opened #256 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored

https://github.com/clusterpedia-io/clusterpedia/pull/235
https://github.com/clusterpedia-io/clusterpedia/pull/239
https://github.com/clusterpedia-io/clusterpedia/pull/244
### PRs reviewed

### Issues involved

https://github.com/clusterpedia-io/clusterpedia/issues/247

[2022-06-30 02:52] Iceber commented on #256
+1, Thank you for the contributions and weclome 🎉

[2022-06-30 04:46] Iceber commented on #256
@qiuming520 Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-06-30 06:57] qiuming520 commented on #256
Thank you @Iceber  for your guidance and help, looking forward to contributing more ; )

[2022-07-01 01:53] #256 closed

[2022-07-01 08:14] huoyinghao opened #258 "clusterpedia 后期 会不会添加一些 公有的适合复杂查询的http接口？"
### What would you like to be added?

##### 例如

通过一个post接口 去查询 某一个集群或者多个集群的 workload(包括deploy，statefulset，job 等资源)

把这些类型以一个下面的形式返回

[code]

再进一步 可以尝试加入labelselect

### Why is this needed?

#### 在以下场景可能会用得到

- 页面 需要展示拥有某一个标签的所有资源？
- 页面 需要展示 某一个集群,某一个命名空间下的一个实例 (例如某一个服务 包含deploy，statefulset，replicate，pod ) ，的所有资源
- 其他的一些奇葩需求

[2022-07-01 09:01] Iceber commented on #258
collection resources + raw sql 不能满足需求吗

[2022-07-05 08:58] Iceber commented on #251
It should be considered a feature rather than a bug, after all, the database/table being deleted manually at any time is already a production accident.

[2022-07-07 05:09] calvin0327 commented on #258
https://github.com/clusterpedia-io/client-go/pull/43

@huoyinghao 可以使用 client-go 去查询

[2022-07-11 08:09] Iceber commented on #185
https://github.com/clusterpedia-io/clusterpedia/pull/259 has completed the basic features, there are still some minor optimizations to be done.

**Unimplemented features**:
* More detailed field validation
* UpdationTemplate
* DeletionCondition
* Friendly kubectl get pediaclusterlifecycle and kubectl get clusterimportlifecycle printing
* adminKubeConfig
* Simplify log information

[2022-07-11 10:14] Iceber commented on #243
@Somefive Hi, https://github.com/clusterpedia-io/clusterpedia/pull/259 has completed the basic features, It will be released in 0.4

To get a preview of this new feature, you can deploy [rbac](https://github.com/clusterpedia-io/clusterpedia/blob/main/deploy/clusterpedia_apiserver_rbac.yaml), [crds](https://github.com/clusterpedia-io/clusterpedia/tree/main/charts/_crds) and [controller manager depl

[2022-07-11 10:16] Somefive commented on #243
Great! I will try it in recent days. :)

[2022-07-12 02:12] chaunceyjiang commented on #185
I like this feature,  but I have a question. Because of some permissions and security problems, I want some clusters managed by karmada not to be automatically imported into clusterpedia. How can I set `ClusterImportPolicy`?

[2022-07-12 04:41] Iceber commented on #185
You can avoid the creation of these clusters by creationCondition, and because of the flexibility of the template, you can tell by name or labels, annotations or other fields.

[2022-07-13 03:28] Iceber commented on #48
For mysql, array fields can be filtered using [raw sql](https://clusterpedia.io/zh-cn/docs/features/raw-sql-query/).
For pg, we may add a `fromSQL` query parameter in the future to override the pg syntax

[2022-07-13 08:40] wuyingjun-lucky opened #265 "Introduce watch into clusterpedia"
### What would you like to be added?

Introduce watch into clusterpedia

### Why is this needed?

We want use `Get` method with clusterpedia like single k8s api server

[2022-07-13 08:42] wuyingjun-lucky commented on #265
@Iceber
 @hanweisen
 @xyz2277

[2022-07-14 03:26] Iceber commented on #265
Thank you for the design and demo, I will summarize as soon as possible :heart:

[2022-07-14 05:57] Iceber commented on #258
Any collection resource can meet more flexible resource combinations, and in the future there will also be the ability to customize the collection resource

[2022-07-14 05:57] #258 closed

[2022-07-19 10:06] wuyingjun-lucky opened #272 "Pediacluster support filter roles when sync resources"
### What would you like to be added?

We want pediacluster support filter rules  when sync resources

### Why is this needed?

We want skip some namepace when resource syncd like kube-system

[2022-07-19 13:00] Iceber commented on #272
Is this done to avoid sensitive resources being synced to the clusterpedia, or is there another purpose?

[2022-07-19 13:35] wuyingjun-lucky commented on #272
We have three clusters now and the workload name is different and namespace is same.
And the k8s or other control plane system and the resources on that namespace are same, we just want keep one copy and actually do not care about them.
So we want add an optional api in  `pediacluster`  and that we can have a choice to avoid some resources being synced

[2022-07-20 02:11] Iceber commented on #272
I have a few questions:
1. even if the resources in these control system namespaces are the same in multiple clusters, their status may still be different for various reasons, and if we don't synchronize them, then we will never be able to see the specific information of the resources in these namespaces within a specific cluster through the clusterpedia

2. Is it possible to ignore some namespace

[2022-07-20 03:33] wuyingjun-lucky commented on #272
Two reasons
1 · Our app developer、 k8s developer and k8s  SRE are different parts.  Our team may just care about the resources we directly use. The SRE do not use clusterpedia to monitor the k8s clusters
2. we found when we use old version client-go to list and then watch （informers） the collection resources  will hang up because duplicate resources

[2022-07-20 03:45] Iceber commented on #272
To implement this we add a field in PediaCluster - `ignoredNamespaces: []`.
[code]

Global settings, not specific to a resource, What do you think?

[2022-07-20 07:28] #185 closed

[2022-07-20 08:39] Iceber commented on #206
@ONE7live This bug will be fixed in 0.5.

The [dynamic discovery manager](https://github.com/clusterpedia-io/clusterpedia/tree/main/pkg/synchromanager/clustersynchro/discovery), which is a combination of `crd controller` and `apiservice controller`, will be refactored to be a more generic tool.
And [ClusterImportPolicy Controller](https://github.com/clusterpedia-io/clusterpedia/blob/276cd08d549785

[2022-07-20 09:34] ONE7live commented on #206
Ok, thanks for your reply, I see. Is anyone currently refactoring the dynamic discovery manager? Or how is it going? I thought maybe I could try to fix this when I have time. @Iceber

[2022-07-21 01:49] Iceber commented on #243
@Somefive [0.4](https://github.com/clusterpedia-io/clusterpedia/releases/tag/v0.4.0) has been released, you can use [helm](https://github.com/clusterpedia-io/clusterpedia/tree/main/charts) to deploy directly, and the documentation of the interface to the multi-cloud platform has been perfected, you can refer to [Interfacing to Multi-Cloud Platforms
](https://clusterpedia.io/zh-cn/docs/usage/interf

[2022-07-21 03:09] Iceber commented on #206
This is a bit complicated, and I haven't thought through how to do it.

We have added a new component [controller manager](https://github.com/clusterpedia-io/clusterpedia/tree/main/pkg/controller) and [interface to multi-cloud platform](https://clusterpedia.io/zh-cn/docs/usage/interfacing-to-multi-cloud-platforms/) feature in 0.4, there are still a lot of optimizations to be done, if you are inter

[2022-07-21 04:23] wuyingjun-lucky commented on #272
Yeah， we can make it optional

[2022-07-22 03:20] duanmengkk commented on #272
/assign

[2022-07-25 09:48] Iceber opened #281 "Multi-Cloud Metrics Server"
### What would you like to be added?

The clusterpedia apiserver will have a built-in multi-cluster metrics server that will provide at least the following features:
* Use `kubectl --cluster <cluster> top node/pod` to view the resource consumption of a node or pod under a cluster
* The user can choose to append resource consumption to annotation when List/Get resources
* Not only does it provide t

[2022-07-25 22:54] grzesuav commented on #281
will it focus on cpu/memory (resources metrics) + network ones (as external/custom) or will allow exposing others via for example prometheus ?

[2022-07-26 04:10] duanmengkk opened #282 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
I'm requesting to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored
https://github.com/clusterpedia-io/clusterpedia/pulls?q=is%3Apr+author%3A%40me+is%3Aclosed

[2022-07-26 04:11] duanmengkk commented on #282
@Iceber

[2022-07-26 10:00] Iceber commented on #281
We should be exposing cpu and memory by default, and possibly network and file io

This looks like a *custom metrics resource* based on promql or some other syntax, which looks good and is a good idea, and we can consider supporting it after we implement the basic features

[2022-07-26 10:02] Iceber commented on #282
+1, Thank you for the contributions and weclome 🎉

@duanmengkk Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-07-26 10:47] duanmengkk commented on #282
thank you @Iceber Hope to bring more to clusterpedia

[2022-07-26 10:47] #282 closed

[2022-07-27 19:19] grzesuav commented on #281
@Iceber what API you would like to implement first?
* metrics.k8s.io
* custommetrics
* externalmetrics

in first implementation ? As `metrics.k8s.io` is just for cpu/memory. so for network/io, right ?

[2022-07-28 04:39] Iceber commented on #281
@grzesuav We will first implement a basic usable minimal functionality, and this version will not involve prometheus or opentelemery.

And we will first implement two resource metrics, cpu and memory, which can be obtained directly from */api/v1/nodes/<node>/proxy/metrics/resource*. （similar to the metrics server's logic)

Then we'll use */api/v1/nodes/<node>/proxy/metrics/cadvisor* to get more in

[2022-08-01 09:08] Iceber opened #285 "Optimize the conditions of the pediacluster status"
### What would you like to be added?

We have refined the Conditions within the PediaCluster status.

There are currently two condition types:
* `ClusterSynchroInitialized` indicates whether the cluster synchro has been created successfully.
* `Ready` indicates the cluster healthy state as checked by the cluster health api.

The semantics of these two states are not clear, and the conditions are r

[2022-08-02 01:37] wuyingjun-lucky opened #286 "Providing elasticsearch to choose as a storage component for user"
### What would you like to be added?

Providing elasticsearch  for user to choose as a storage component

### Why is this needed?

ES is a widely used searching engine and may help to bring more features in clusterpedia

[2022-08-02 05:02] #285 closed

[2022-08-02 07:40] hanweisen commented on #286
/assign

[2022-08-03 02:28] Iceber commented on #286
The addition of the new storage component will give clusterpedia new ideas, thank you! @wuyingjun-lucky @hanweisen

[2022-08-04 08:57] Iceber opened #291 "Add adminKubeConfig template field for ClusterImportPolicy"
The authentication information obtained from the source cluster may have very high permissions, while the only permissions required by clusterpedia are actually read-only.

We can add a `spec.adminKubeConfig` template field, and then we create a low privilege sa for clusterpedia based on this adminKubeConfig

_Originally posted by @Iceber in https://github.com/clusterpedia-io/clusterpedia/issues/1

[2022-08-04 09:07] Iceber opened #292 "Friendly kubectl get pediaclusterlifecycle and kubectl get clusterimportlifecycle printing"
### What would you like to be added?

Currently there is not custom print column for the `pediaclusterlifecycle` and `clusterimportlifecycle` resources, so a lot of status cannot be displayed.
[code]

we need to add more information when getting the `pediaclusterlifecycle` and `clusterimportlifecycle` resources.

### Why is this needed?

More useful information can be obtained via kubectl get

[2022-08-05 08:43] wuyingjun-lucky commented on #231
ping @Iceber @wzshiming  when to apply the bot to clusterpedia

[2022-08-05 09:46] Iceber commented on #231
@wuyingjun-lucky Thank you for the follow up, We will soon add robot.

@wzshiming  will use https://github.com/wzshiming/gh-ci-bot to support the robot, thanks to the help of @wzshiming 🌹

[2022-08-05 10:21] Iceber commented on #231
@wzshiming gh-ci-bot has been forked to https://github.com/clusterpedia-io/gh-ci-bot.

[2022-08-08 03:08] Iceber commented on #231
https://github.com/clusterpedia-io/clusterpedia/pull/294 adds commands for lable and cc, assign,etc...

We currently do not use automatic merging due to the small number of approvers.

[2022-08-08 03:18] wuyingjun-lucky commented on #231
Why not ?
If I just modify an error words.  I think you do not need to merge it until the pipeline succeed.  It can save your time.

[2022-08-08 03:29] Iceber commented on #231
If I just modify an error words. I think you do not need to merge it until the pipeline succeed. It can save your time.

Auto-merge is good for multiple reviewers and approvers to work together, but right now I'm the only approver, and the gh-ci-bot doesn't support auto-merge yet :joy:

[2022-08-08 03:34] wuyingjun-lucky commented on #231
All right. Label  `merge` can not auto-merge.  I think `auto-merge` can save your time.

[2022-08-08 03:37] wzshiming commented on #231
https://github.com/wzshiming/gh-ci-bot/issues/14
I create an issue for this auto-merge, and I will take the time to do it later

[2022-08-08 03:44] Iceber commented on #231
Currently I am the only reviewer, so I will review a pr several times before merging it, currently it feels better for me to merge it manually.

In the future, when there are more approvers, we can switch to automatic merging

[2022-08-08 06:16] #231 closed

[2022-08-08 07:15] wzshiming opened #295 "Replace `fake-k8s.sh` with `kwokctl` in e2e-test"
### What would you like to be added?

Do this when `kwokctl` is ready

/kind feature
/assign

### Why is this needed?

fake-k8s has contributed to [k-sigs/kwok](https://github.com/kubernetes-sigs/kwok)

[2022-08-08 10:05] Iceber opened #299 "Retry resource synchronization caused by storage component exceptions"
### What would you like to be added?

If the current resource synchronizer fails to add, delete or change data due to a storage layer problem when synchronizing resources, it will print a log and discard the event.
https://github.com/clusterpedia-io/clusterpedia/blob/75446232bf5f04c4f1c590e77b46cd14511a2efe/pkg/synchromanager/clustersynchro/resource_synchro.go#L344-L355

If resources change freque

[2022-08-08 10:10] Iceber commented on #299
/milestone 0.5.0

[2022-08-08 10:11] Iceber commented on #299
/milestone v0.5.0

[2022-08-09 03:10] Iceber opened #301 "Bump golang to v1.18"
### What would you like to be added?

golang has been released 1.18.5, compared to 1.18 has been more stable, we are ready to upgrade golang to 1.18.x

ref: https://github.com/clusterpedia-io/clusterpedia/pull/133

### Why is this needed?

Use the new version, but we need to make sure the version is stable, so we will use the version with the revision number > 4

[2022-08-09 08:09] Iceber commented on #292
The clusterimportpolicy and pediaclusterlifecycle controllers are in the early stages of development, so if you find more problems or things that could be optimized, welcome to open issues or fix them

/good-first-issue

[2022-08-09 08:10] #187 closed

[2022-08-09 08:11] #301 closed

[2022-08-09 10:08] wuyingjun-lucky opened #306 "CI conflict with code"
### What happened?

1· pipeline workflow always download golangci-lint@1.46.2
2. ci staticcheck error with not changed code  `pkg/storage/internalstorage/config.go#L8`

### What did you expect to happen?

pipeline succeed

### How can we reproduce it (as minimally and precisely as possible)?

as `what happened`

### Anything else we need to know?

_No response_

### Clusterpedia Version

<details>

[2022-08-09 10:08] wuyingjun-lucky commented on #306
@Iceber

[2022-08-09 10:16] Iceber commented on #306
It will check all the code, but the version hasn't been modified, and the problem wasn't reported before, which is a strange behavior

It looks like updating the package dependencies would be fine, would you like to do it?

It doesn't look like caching is being used? I still need to take a look

[2022-08-09 10:24] wuyingjun-lucky commented on #306
I can fix it tomorrow and I want have a test before commit the code.  Can you wait for it ?

[2022-08-09 10:29] Iceber commented on #306
It's okay.

[2022-08-09 15:08] #306 closed

[2022-08-10 06:57] wuyingjun-lucky opened #309 "Apiserver address is null when pediacluster is applied by kubeconfig"
### What would you like to be added?

Apiserver always be the real address.

### Why is this needed?

1、apiserver set to “”
<img width="627" alt="image" src="https://user-images.githubusercontent.com/16109961/183835433-408c9c21-e7e3-401a-8202-76ec9e3e04e9.png">

2、apiserver set to “dddd”
<img width="674" alt="image" src="https://user-images.githubusercontent.com/16109961/183835459-e3a5770b-a2f5-4b

[2022-08-10 06:58] wuyingjun-lucky commented on #309
@Iceber

[2022-08-10 07:59] Iceber commented on #309
Did you change the apiserver from the correct one to the wrong one?

The conditoins and printer column were changed in v0.4.1, it will make the output look better, you can update the image version and crd yaml.

Also the string may be a domain name, maybe it doesn't work now, but it may work in the future, so we will allow the user to set any value, but if there is an exception, we will tell the u

[2022-08-10 08:06] wuyingjun-lucky commented on #309
What I am confused about is why don`t we set the apiserver to the real address during reconcile cluster

[2022-08-10 08:16] Iceber commented on #309
Extracting the apiserver address from kubeconfig seems like a good way to let the mutation webhook do the work.
Try to only update the status when reconciling the cluster.

But we don't have a mutation webhook yet, so if it feels important to not have an `spec.apiserver` fields, we can check and set this field when reconciling the cluster.

[2022-08-10 08:26] wuyingjun-lucky commented on #309
I think you are right, let webhook do the work is more appropriately.

May be we need a clusterpedia-ctl which can fix it easily.

[2022-08-10 08:49] Iceber commented on #309
I found https://github.com/c-bata/go-prompt and may consider using it to create a kubectl plugin in the future.

This also means that the user does not need to execute the [script](https://github.com/clusterpedia-io/clusterpedia/blob/main/hack/gen-clusterconfigs.sh) to generate cluster shortcut for kubectl

[2022-08-10 15:41] cleverhu commented on #272
I have a question, what should we handle if the resource is cluster resource?

[2022-08-10 15:45] cleverhu commented on #272
Sometimes we may have turned on collecting all Crd resources, which may contain cluster resources.

[2022-08-11 01:19] wuyingjun-lucky commented on #272
Maybe we can pending the issue if we do not find the best scheme

[2022-08-11 10:10] qiuming520 commented on #292
/assign

[2022-08-16 03:54] Somefive commented on #243
@Iceber I tried the ClusterImportPolicy and found some potential problems that might make it hard for KubeVela cluster to be imported. I'm not sure if I'm understanding the problem correctly.

The `Cluster` in KubeVela, backended by [ClusterGateway](https://github.com/oam-dev/cluster-gateway) natively uses secrets directly to store the credential but do not have an actual CustomResource to represe

[2022-08-16 03:55] Somefive commented on #243
Sorry for the late response :)

P.S. I was trying to go to the community meeting directly but seems Tencent meeting is not available for me.

[2022-08-16 04:26] Iceber opened #315 "e2e test:clusterpedia installation failure does not terminate the test"
### What happened?

In e2e testing, clusterpedia installation failure does not terminate the test

https://github.com/clusterpedia-io/clusterpedia/runs/7849779721?check_suite_focus=true#step:4:1860

### What did you expect to happen?

If an exception occurs during clusterpedia installation, then terminate the e2e test

### How can we reproduce it (as minimally and precisely as possible)?

None

##

[2022-08-16 04:26] Iceber commented on #315
/cc @wzshiming PTAL

[2022-08-16 04:34] wzshiming commented on #315
/good-first-issue
/assign

[2022-08-16 04:35] wzshiming commented on #315
/good-first-issue
/assign

[2022-08-16 04:35] wzshiming commented on #315
/help-wanted

[2022-08-16 08:14] Iceber commented on #243
@Somefive I think using secret is a simpler way for clusterpedia.

I would add a **sourceCondition** field to the `ClusterImportPolicy` to filter source resources (secrets), what do you think?

We'll use zoom in our next meeting

[2022-08-17 03:08] Somefive commented on #243
@Iceber Thanks you for your response.

Great! Looking forward to this feature.

That works for me. Thanks :)

[2022-08-17 05:43] #315 closed

[2022-08-17 05:57] Iceber commented on #243
@Iceber `source.selectorTemplate` feature has been merged.

You can update the controller-manager image tag to the `latest`, and then update the crd.
[code]

An example of the use of source.selectorTemplate is
[code]

[2022-08-18 07:50] Somefive commented on #243
It is now okay to sync KubeVela clusters through the ClusterImportPolicy now, thanks for it.

[code]
BTW, there are multiple ways for KubeVela to use multi-clusters. The above ClusterImportPolicy is just one of it. I think for X509 and ServiceAccount cases the ClusterImportPolicy will works fine to generate PediaCluster. The OCM managed cluster on the other hand, cannot be directly accessed throug

[2022-08-19 09:24] Iceber commented on #243
Thank you very much for creating this policy yaml, I think it is a very important contribution to clusterpedia, would you like to create a pr to submit it?
It looks like there could be more types of resources to synchronize, for example:
[code]

For this case, it looks like we need to wait until clusterpedia adds agent collection mode.

More questions are very welcome and hopefully the clusterpedi

[2022-08-22 05:44] wuyingjun-lucky commented on #309
How about to place a field named `apiserver` to pediacluster.status and we can reconcile the `apiserver` just like reconile the `Version`

[2022-08-23 05:36] wuyingjun-lucky commented on #309
@Iceber

[2022-08-23 06:47] 27149chen opened #326 "Support to create database when an existing storage component is used"
### What would you like to be added?

Support to create database when an existing storage component is used

### Why is this needed?

clusterpedia may work together with other system which already has a storage component, to better share this component, clusterpedia should support to create batabase wth the permission of the user

[2022-08-23 07:59] Iceber commented on #309
Until we support webhook, I think this is a good way to make sure the apiserver is displayed.

[2022-08-23 08:07] Iceber commented on #326
We can add a flag to values, such as createDatabase, which defaults to false and needs to be actively set to true by the user to create the database, to ensure that the user is explicitly aware that a high privilege operation is being performed

`createDatabase=true` will render an init container for creating the database into the deployment.

[2022-08-25 03:02] RuliXu commented on #326
/assign

[2022-08-25 10:14] #309 closed

[2022-08-29 10:26] cleverhu opened #331 "the log config param `level` in helm chart is wrong"
### What happened?

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/51436614/187180031-2550863d-7888-48bc-a44d-2a4809cbea22.png">
<img width="489" alt="image" src="https://user-images.githubusercontent.com/51436614/187180200-2d34f2d4-66a8-4e67-8a7d-2dda0124ec0c.png">
When I debugged clusterpedia locally, I found that "3" passed in by level could not make clusterpedia s

[2022-08-29 10:31] cleverhu commented on #331
log level must be one of [Silent, Error, Warn, Info], Default should be is 'Warn'.

[2022-08-29 10:34] cleverhu commented on #331
/good-first-issue

[2022-08-30 03:30] wuyingjun-lucky opened #333 "Mark pediacluster status.Version as optional field."
### What would you like to be added?

Mark pediacluster status.Version as optional field. See as https://github.com/clusterpedia-io/clusterpedia/pull/328

### Why is this needed?
[Version](https://github.com/clusterpedia-io/clusterpedia/blob/main/staging/src/github.com/clusterpedia-io/api/cluster/v1alpha2/types.go#:~:text=json%3A%22apiserver%2Comitempty%22%60-,//%20%2Brequired,Version%20string%20%

[2022-08-30 06:05] wuyingjun-lucky opened #334 "Add livenessProbe to controllers and readinessProbe to api-server"
### What would you like to be added?

Add livenessProbe to controllers and readinessProbe to api-server

### Why is this needed?

Check components status.

[2022-08-30 09:34] Iceber commented on #333
/good-first-issue

[2022-08-30 11:24] KUANG-CHENG commented on #333
/assign

[2022-08-31 10:07] Iceber commented on #281
/assign

[2022-09-01 05:13] Iceber commented on #281
Clusterpedia & Multi Metrics Server
![Multi Metrics Server](https://user-images.githubusercontent.com/13391143/187836277-8f6be0db-763b-489d-9ac1-3c1801201aae.png)

[2022-09-01 07:47] ONE7live commented on #331
/assign

[2022-09-01 09:58] wzshiming commented on #333
Testing robot, please ignore

/unassign KUANG-CHENG

[2022-09-01 09:58] wzshiming commented on #333
Testing robot, please ignore

/assign KUANG-CHENG

[2022-09-01 10:01] wuyingjun-lucky commented on #333
@wzshiming @Iceber
Hi
Can we modify the robot name like `clusterpedia-bot` or `cp-bot`

[2022-09-01 10:04] wzshiming commented on #333
Of course, register a GitHub account with the desired name, and configure its TOKEN here
https://github.com/clusterpedia-io/clusterpedia/blob/d68e6d43f1f7795899329dff177064cc5b2dc00c/.github/workflows/bot.yml#L65

[2022-09-01 10:35] Iceber commented on #333
This requires a separate account or a separate server to run the github apps.
But the api limitations of a separate normal account are greater than github action, and we don't have our own separate server yet.

@wuyingjun-lucky We could support this in the future, which is a good idea.

[2022-09-02 01:52] Iceber opened #337 "Change the name of the ci robot to clusterpedia-bot"
### What would you like to be added?

https://github.com/clusterpedia-io/clusterpedia/issues/333#issuecomment-1234049023

- [x] the clusterpedia-bot account is created @clusterpedia-bot.
- [x] configure the secret key of the ci bot https://github.com/clusterpedia-io/clusterpedia/issues/333#issuecomment-1234052674

@wuyingjun-lucky @wzshiming We will track and test the new bot in this

### Why is t

[2022-09-02 02:59] Iceber commented on #337
/reopen

[2022-09-02 02:59] Iceber commented on #337
/assign

[2022-09-02 03:00] wuyingjun-lucky commented on #337
looks pretty

[2022-09-02 03:00] Iceber commented on #337
/kind cleanup

[2022-09-02 03:03] Iceber commented on #337
Looks like it's working well 🎉

[2022-09-02 03:03] #337 closed

[2022-09-02 15:18] grzesuav commented on #281
@Iceber how you distinguish from which cluster metrics come from ?

[2022-09-05 06:27] Iceber commented on #281
@grzesuav In the early stage, the two implementations of the multicluster metrics server would be two separate modules, and users would have to choose between them to deploy.

Then we would consider combining the two implementations to decide via crd whether to use thanos/otel or node proxy for metric api information for a cluster

[2022-09-06 03:48] #299 closed

[2022-09-06 09:21] Iceber commented on #331
@ONE7live hi, if you have any problems with this issue, we can discuss it together.

[2022-09-06 14:56] ONE7live commented on #331
@Iceber Sorry, the daily work is a bit busy. Just submitted a PR( #346 ) on this issue, please review

[2022-09-08 01:51] #331 closed

[2022-09-08 08:09] wuyingjun-lucky opened #348 "Decrease clusterpedia functions cyclomatic complexity"
### What would you like to be added?

Decrease clusterpedia functions cyclomatic complexity

### Why is this needed?

I found some functions on clusterpedia is too long and not friendly to fresh developers.
I add gocyclo to gci linters and set the min-complexity to 15 and I found many functions cyclomatic complexity are very high.
<img width="1841" alt="image" src="https://user-images.githubuserco

[2022-09-08 08:09] wuyingjun-lucky commented on #348
@Iceber

[2022-09-08 08:10] wuyingjun-lucky commented on #333
@KUANG-CHENG  you can go on with this job

[2022-09-08 09:14] Iceber commented on #348
Sometimes abstracting functions that are not reused or independent enough can lead to incoherent code, and it may be clearer to distinguish a set of logic by ordered line breaks and comments.
I find that golang's function abstraction is probably more like c than python.

**I'm not against abstracting functions, and it's good for functions that are too complex or that can be extracted to make the l

[2022-09-08 09:16] Iceber commented on #348
BTW, I saw some warnings that there are some linters that are deprecated.
[code]
This looks like it could be an good first issue, don't you think?

[2022-09-08 09:24] wuyingjun-lucky commented on #348
Or we can make more comments to the  complex functions. Some functions is hard .

[2022-09-08 11:47] ONE7live commented on #334
/assign

[2022-09-15 08:07] Iceber opened #365 "Require explicit setup-go installation step prior to using the golangci-action"
### What would you like to be added?

https://github.com/golangci/golangci-lint-action#compatibility

Run `setup-go action` before the golangci-action.

change:
https://github.com/clusterpedia-io/clusterpedia/blob/99d1631bca84b5680012786cba1d4e36428d1d1d/.github/workflows/ci.yml#L5-L14
to
[code]

### Why is this needed?

https://github.com/golangci/golangci-lint-action#compatibility

[2022-09-15 08:08] Iceber commented on #365
/good-first-issue

[2022-09-15 08:08] Iceber commented on #365
/good-first-issue

[2022-09-15 08:12] Iceber opened #366 "Bump golangci lint to v1.49.0"
### What would you like to be added?

bump golangci lint to v1.49.0

refer: https://github.com/clusterpedia-io/clusterpedia/pull/221

[2022-09-15 08:12] Iceber commented on #366
/good-first-issue

[2022-09-15 08:23] lengrongfu commented on #366
/assign

[2022-09-15 09:53] Iceber commented on #333
@KUANG-CHENG Hi, if you have any questions, we can discuss together.

[2022-09-16 02:26] #366 closed

[2022-09-16 03:12] KUANG-CHENG commented on #333
I'm sorry I haven't submitted it so late. I've done the issue and when the mailbox comes down, I'll submit it in about three or four days as soon as possible. @Iceber

[2022-09-16 09:01] kuangcheng66 commented on #333
/assign

[2022-09-16 12:32] Iceber commented on #333
@KUANG-CHENG HI, This issue has been fixed.
If you're interested, we have a good first issue https://github.com/clusterpedia-io/clusterpedia/issues/365 to fix, and your contributions are welcome!

[2022-09-17 14:13] #333 closed

[2022-09-19 23:56] #265 closed

[2022-09-20 03:57] lengrongfu commented on #365
/assign

[2022-09-20 05:43] wuyingjun-lucky opened #379 "[MEMBERSHIP REQUEST] New Member of Clusterpedia"
Sponsoring @xyz2277  to be a Member of Clusterpedia Community.

## List of my contributions to the Clusterpedia project
### PRs authored
core-author of feature memory-storage
https://github.com/clusterpedia-io/clusterpedia/pull/345

### PRs reviewed

### Issues involved

### Others

[2022-09-20 05:44] wuyingjun-lucky commented on #379
/cc @Iceber @xyz2277

[2022-09-20 11:59] wuyingjun-lucky opened #380 "memory-storage-layer improve"
### What would you like to be added?

As feature [feature-memory-storage-layer](https://github.com/clusterpedia-io/clusterpedia/pull/345) has approved
We can start a progress to improve memory-storage-layer
- [ ]

- [ ]

- [ ]

### Why is this needed?

improve memory-storage-layer

[2022-09-21 02:00] Iceber commented on #379
+1, @xyz2277 Thanks for your contribution in the memory storage

[2022-09-21 02:06] #365 closed

[2022-09-21 03:11] Iceber commented on #379
@xyz2277 Invited, please visit https://github.com/clusterpedia-io to accept the invitation.

[2022-09-21 08:41] xyz2277 commented on #379
Done~

[2022-09-21 08:43] panpan0000 opened #381 "When running on k8s 1.18.6, clusterpedia failed to run"
### What happened?

error message:
<img width="1252" alt="企业微信截图_4378897b-7dc5-40e5-8033-78942644161b" src="https://user-images.githubusercontent.com/14049268/191458416-a54a39aa-6b0f-4138-972c-48f60fd5e041.png">

### What did you expect to happen?

it run well

### How can we reproduce it (as minimally and precisely as possible)?

1.18

### Anything else we need to know?

_No response_

### Cluste

[2022-09-22 03:33] #379 closed

[2022-09-22 05:24] Iceber commented on #381
This is because the front-proxy-ca.crt used by your kube apiserver is using SHA1, it is recommended to recreate front-proxy-client.crt, SHA1 has security issues.
[code]

golang has rejected SHA1 since 1.18 https://github.com/golang/go/issues/41682, of course it is possible to use the environment variable `GODEBUG=x509sha1=1` to allow sha1 certificates, but this is still insecure.

However, to be c

[2022-09-22 05:28] Iceber opened #385 "Compatible with front-proxy-client.crt created with SHA1"
This is because the front-proxy-client.crt used by your kube-apiserver is using SHA1, it is recommended to recreate front-proxy-client.crt, SHA1 has security issues.
[code]

golang has rejected SHA1 since 1.18 https://github.com/golang/go/issues/41682, of course it is possible to use the environment variable `GODEBUG=x509sha1=1` to allow sha1 certificates, but this is still insecure.

However, to

[2022-09-22 05:28] Iceber commented on #385
/kind feature

[2022-09-22 05:31] cleverhu commented on #385
I'd like to fix it, and it occurred in production practice.
/assign

[2022-09-22 05:31] cleverhu commented on #385
I'd like to fix it, and it occurred in production practice.
/assign

[2022-09-23 01:52] #381 closed

[2022-09-23 01:56] panpan0000 commented on #381
Thx

[2022-09-23 02:54] lengrongfu opened #389 "Sync Chart to clusterpedia-helm repo"
### What would you like to be added?

Sync  Chart to clusterpedia-helm repo

### Why is this needed?

Sync  Chart to clusterpedia-helm repo

[2022-09-23 02:54] lengrongfu commented on #389
/assign

[2022-09-23 03:08] Iceber commented on #389
https://github.com/clusterpedia-io/clusterpedia-helm repo has been created

[2022-09-23 04:20] #326 closed

[2022-09-26 01:27] Iceber opened #393 "New commits is updated but the lgtm label is not canceled"
Maybe a bug @wzshiming
New commits is updated but the lgtm label is not canceled

_Originally posted by @wuyingjun-lucky in https://github.com/clusterpedia-io/clusterpedia/issues/387#issuecomment-1255729726_

[2022-09-26 12:31] wzshiming commented on #393
/assign

[2022-09-27 12:57] feeltimeQ opened #395 "labelselect notin is not support"
### What happened?

When I use clusterpedia's apiserver with labelSelector's notin, I can't get any resources：
![企业微信截图_e48cbd30-059c-4c4b-9b01-345a5c29834c](https://user-images.githubusercontent.com/52406499/192531733-db1a2d06-3fab-4279-8b0c-aa73dfebe52c.png)

But when I'm using kube-apiservice the same command lists the resources：

kubectl get clusters.cluster.kpanda.io -l 'clustername notin (fr

[2022-09-28 03:28] Iceber commented on #395
Thank you for reporting the bug.

This is caused by the SQL generated by the internal storage layer.
The current SQL generated by `kubectl --cluster clusterpedia get clusters -l "clustername not in (frank)" is
[code]

However, if a resource does not have key `clustername` in its label, then `JSON_UNQUOTE(JSON_EXTRACT(`object`,'$." metadata"." labels"." clustername"'))` is actually NULL

We should

[2022-09-28 03:28] Iceber commented on #395
Will release `0.5.1` for this bug

[2022-09-28 08:41] 27149chen opened #397 "An unexpected error occured when getting resources with a fake cluster name"
### What happened?

when getting resources with a fake cluster name (which does not exist in clusterpedia) using clusterclient
The following error is returned:
no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1"

### What did you expect to happen?

return a "cluster not found" error

### How can we reproduce it (as minimally and precisely as possible)?

getting reso

[2022-09-29 11:39] qiuming520 commented on #397
@27149chen
```no matches for kind "CustomResourceDefinition"``` no matches for kind "CustomResourceDefinition" that implies that the version of kubernetes you're using doesn't have the CRD type available. you need to  confirm what version or flavor kube you have installed

[2022-09-30 03:01] #395 closed

[2022-09-30 14:52] 27149chen commented on #397
@qiuming520  Sorry, I find the problem is not in "collection resources", but in the clustered client, if I new a client using "ClusterConfigFor" with an invalid cluster name, and then use this client to list resources (for example, list crds), the error above is raised

[2022-10-10 09:53] #393 closed

[2022-10-11 05:05] Iceber commented on #397
We do not currently return a specific error when a cluster does not exist.

It seems to make sense to tell the user that the requested cluster does not exist

[2022-10-18 01:28] Iceber commented on #389
Local charts are deprecated, but we will not close the page and delete charts/index.yaml so that existing users can continue to use them.

Now e2e tests still use local charts, which will be removed when we provide the kustomize deployment option.
We track the development of kustomize in a new issue.

[2022-10-18 01:28] #389 closed

[2022-10-25 03:43] lengrongfu commented on #397
/assign

[2022-10-28 14:04] #397 closed

[2022-11-02 02:30] #295 closed

[2022-11-03 13:56] Iceber opened #443 "Storage layer plugin based on `go plugin`"
### What would you like to be added?

Clusterpedia interfaces to different storage components such as MYSQL/Postgres, memory or ES through a storage layer.

Currently these storage layers need to be compiled into Clusterpedia components, and users who want to implement their own storage layers need to recompile Clusterpedia to build new images.

We want an open mechanism that allows users to freel

[2022-11-03 14:06] #159 closed

[2022-11-04 07:18] Iceber commented on #443
We need to add an init-plugin script to initialize the plugin directory, with a directory like https://github.com/clusterpedia-io/sample-storage-layer
example:
[code]

[2022-11-09 05:21] Iceber opened #452 "Watch for Multi-Cluster Resources"
### What would you like to be added?

We want to gather information about what users want from Watch capabilities

The current user wants to get change events for resources in multiple clusters and needs to use informer to list-watch the resources in **each cluster**.
The disadvantages of this are also relatively obvious.
* First, as the number of multi-cluster components increases, if each compon

[2022-11-09 05:38] Iceber opened #453 "Implementations of Watch that can be used for most storage layers"
### What would you like to be added?

We currently have Watch capability in memory storage, but it requires the binding-apiserver command to run both Clusterpedia APIServer and Clusterpedia Clustersynchro Manager, which prevents us from scaling the service horizontally

We wanted to find a generic Watch mechanism that could be reused on most storage tiers and that would not affect the horizontal s

[2022-11-16 10:40] cleverhu opened #458 "make synchromanager worker configurable"
### What would you like to be added?

1. Add option WorkerNumber  for `clustersynchro-manager` such as
[code]
2. change the code from `synchromanager.Run(1, ctx.Done())` to `synchromanager.Run(c.WorkerNumber, ctx.Done())` in
`pkg/synchromanager/clustersynchro_manager.go`
3. If the WorkerNumber is less than or equal to 0, we should set the default value to 3.

### Why is this needed?

Now  the work

[2022-11-16 10:41] cleverhu commented on #458
/kind good-first-issue

[2022-11-16 10:41] #206 closed

[2022-11-21 07:32] wlp1153468871 commented on #458
/assign

[2022-11-23 02:48] Iceber commented on #443
Using the sample-template repository is better and does not require the use of scripts

[2022-11-24 01:18] Iceber commented on #443
- [ ] Update the sample repository name from sample-storage-layer to sample-storage

And both the storage layer plugin repository and the storage layer plugin name are recommended to be suffixed with storage, e.g. *-storage

[2022-11-24 01:26] Iceber commented on #443
/assign

[2022-11-24 01:28] Iceber commented on #443
/assign calvin0327

[2022-11-24 02:00] Iceber opened #464 "[clusterpedia-helm] Update clusterpedia image to v0.5.2"
### What would you like to be added?

We have released version 0.5.2, so we can update the [helm repository](https://github.com/clusterpedia-io/clusterpedia-helm) to use the v0.5.2 image by default

[code]

[2022-11-24 02:08] Iceber commented on #458
@wlp1153468871 If there are any questions we can discuss together.

[2022-11-24 06:03] wlp1153468871 commented on #458
I'm a bit busy recently, I'll deal with it on weekends.Thanks.

[2022-11-25 01:10] hanweisen commented on #443
I suggest we use *-storage for module name, repository name and image name, use * as the plugin registration name without "-storage".

[2022-11-26 01:55] #47 closed

[2022-11-28 10:21] Songjoy commented on #464
/assign